ErrorDocument 404 http://www.inkystories.com/404/index.htm

Redirect 301 /?webcomic_post=a-runnin-from-a-gunnin-page-01-of-08 http://www.inkystories.com/comics/a-runnin-from-a-gunnin.htm 
Redirect 301 /?webcomic_post=the-bleeding-mirror-page-01-of-07 http://www.inkystories.com/comics/the-bleeding-mirror.htm
Redirect 301 /?webcomic_post=bottle-of-red-p1-webcomic http://www.inkystories.com/comics/bottle-of-red.htm
Redirect 301 /?webcomic_post=dead-by-the-pool-page-01-of-09 http://www.inkystories.com/comics/dead-by-the-pool.htm

Redirect 301 /?webcomic_post=earth-girls-rnt-easy-page-01-of-03 http://www.inkystories.com/comics/earth-girls-rnt-easy.htm
Redirect 301 /?webcomic_post=encore-page-01-of-11 http://www.inkystories.com/comics/encore.htm
Redirect 301 /?webcomic_post=go-snow http://www.inkystories.com/comics/go-snow.htm
Redirect 301 /?webcomic_post=grubhub-delivery http://www.inkystories.com/comics/grubhub-delivery.htm
Redirect 301 /?webcomic_post=here-i-am-page-01-of-04 http://www.inkystories.com/comics/here-i-am.htm
Redirect 301 /?webcomic_post=lucky-seven-the-dee-brown-incident-page-01-of-06 http://www.inkystories.com/comics/lucky-seven-dee-brown.htm
Redirect 301 /lucky-seven-the-dee-brown-incident http://www.inkystories.com/comics/lucky-seven-dee-brown.htm
Redirect 301 /the-dee-brown-incident http://www.inkystories.com/comics/lucky-seven-dee-brown.htm

Redirect 301 /?webcomic_post=the-last-day-on-earth http://www.inkystories.com/comics/the-last-day-on-earth.htm
Redirect 301 /?webcomic_post=accidental-genius-little-green-man http://www.inkystories.com/comics/little-green-man.htm

Redirect 301 /?webcomic_post=the-worlds-slowest-foot-chase-page-01-of-03 http://www.inkystories.com/comics/the-worlds-slowest-foot-chase.htm

Redirect 301 /?webcomic_post=diane-aprince-in-the-yeoman-page-01-of-11 http://www.inkystories.com/comics/the-yeoman.htm 
Redirect 301 /diane-aprince-in-the-yeoman http://www.inkystories.com/comics/the-yeoman.htm 
Redirect 301 /diane-aprince-is-the-yeoman http://www.inkystories.com/comics/the-yeoman.htm 

Redirect 301 /?webcomic_post=enter-general-zaq-cover http://www.inkystories.com/comics/enter-general-zaq.htm
Redirect 301 /enter-general-zak http://www.inkystories.com/comics/enter-general-zaq.htm
Redirect 301 /enter-general-zakk http://www.inkystories.com/comics/enter-general-zaq.htm
Redirect 301 /dots-all-folks http://www.inkystories.com/comics/enter-general-zaq.htm

Redirect 301 /?webcomic_post=ladybat-and-the-fanboy-in-tool-talk http://www.inkystories.com/comics/ladybat-fanboy-tool-talk.htm
Redirect 301 /ladybat-tooltalk http://www.inkystories.com/comics/ladybat-fanboy-tool-talk.htm
Redirect 301 /ladybat+fanboy-tooltalk http://www.inkystories.com/comics/ladybat-fanboy-tool-talk.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2011 http://www.inkystories.com/comics/batgirl-in-training-day.htm
Redirect 301 /dark-knight-on-a-dark-night-2011 http://www.inkystories.com/comics/batgirl-in-training-day.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2012 http://www.inkystories.com/comics/the-million-dollar-debut-of-batgirl.htm
Redirect 301 /batgirl-debut http://www.inkystories.com/comics/the-million-dollar-debut-of-batgirl.htm
Redirect 301 /dark-knight-on-a-dark-night-2012 http://www.inkystories.com/comics/the-million-dollar-debut-of-batgirl.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2013 http://www.inkystories.com/comics/day-of-the-batgirl.htm
Redirect 301 /day-of-the-batgirl http://www.inkystories.com/comics/day-of-the-batgirl.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2014 http://www.inkystories.com/comics/batgirl-in-time-crash.htm
Redirect 301 /dark-knight-on-a-dark-night-6 http://www.inkystories.com/comics/batgirl-in-time-crash.htm-2014
Redirect 301 /batgirl-time-crash http://www.inkystories.com/comics/batgirl-in-time-crash.htm
Redirect 301 /batgirl-in-time-crash http://www.inkystories.com/comics/batgirl-in-time-crash.htm
Redirect 301 /DKoaDN14 http://www.inkystories.com/comics/batgirl-in-time-crash.htm
Redirect 301 /DKoaDN6 http://www.inkystories.com/comics/batgirl-in-time-crash.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2015 http://www.inkystories.com/comics/the-dark-knight-damsel-returns.htm
Redirect 301 /batgirl-returns http://www.inkystories.com/comics/the-dark-knight-damsel-returns.htm
Redirect 301 /batgirl-dark-knight-damsel-returns http://www.inkystories.com/comics/the-dark-knight-damsel-returns.htm

Redirect 301 /?webcomic_post=dark-knight-on-a-dark-night-2016 http://www.inkystories.com/comics/batgirl-and-joker.htm
Redirect 301 /batgirl-v-joker http://www.inkystories.com/comics/batgirl-and-joker.htm
Redirect 301 /batgirl-vs-joker http://www.inkystories.com/comics/batgirl-and-joker.htm
Redirect 301 /batgirl-joker http://www.inkystories.com/comics/batgirl-and-joker.htm
Redirect 301 /batgirl-and-the-joker http://www.inkystories.com/comics/batgirl-and-joker.htm
Redirect 301 /barbara-gordon-is-the-batgirl http://www.inkystories.com/comics/batgirl-and-joker.htm

Redirect 301 /?p=358 http://www.inkystories.com/comics/paradigm-shift.htm
Redirect 301 /?webcomic_post=plate-ground http://www.inkystories.com/comics/plate-ground.htm
Redirect 301 /?webcomic_post=school-fight-page-1 http://www.inkystories.com/comics/school-fight.htm
Redirect 301 /?webcomic_post=shower-powered-page-01-of-03 http://www.inkystories.com/comics/shower-powered.htm
Redirect 301 /?webcomic_post=six-year-old-horse-thief-page-01-of-08 http://www.inkystories.com/comics/six-year-old-horse-thief.htm

Redirect 301 /?webcomic_post=the-null-device-cover-scifi-pulp http://www.inkystories.com/comics/the-null-device.htm
Redirect 301 /null-device http://www.inkystories.com/comics/the-null-device.htm
Redirect 301 /nulldevice http://www.inkystories.com/comics/the-null-device.htm
Redirect 301 /the-null-device http://www.inkystories.com/comics/the-null-device.htm

Redirect 301 /?webcomic_post=the-return-page-01-of-02 http://www.inkystories.com/comics/the-return.htm
Redirect 301 /?webcomic_post=the-watchman-page-01-of-02 http://www.inkystories.com/comics/the-watchman.htm

Redirect 301 /?webcomic_post=twilights-last-gleaming-page-01-of-09 http://www.inkystories.com/comics/twilights-last-gleaming.htm
Redirect 301 /twilight-blade http://www.inkystories.com/comics/twilights-last-gleaming.htm
Redirect 301 /twilight-blade http://www.inkystories.com/comics/twilights-last-gleaming.htm
Redirect 301 /blade-kills-twilight http://www.inkystories.com/comics/twilights-last-gleaming.htm
Redirect 301 /blade-kills-twilight-duoshade http://www.inkystories.com/comics/twilights-last-gleaming.htm

Redirect 301 /?webcomic_post=not-really-blade-kills-twilight-page-01-of-09 http://www.inkystories.com/comics/not-really-blade-kills-twilight.htm
Redirect 301 /blade-kills-twilight-color http://www.inkystories.com/comics/not-really-blade-kills-twilight.htm

Redirect 301 /?webcomic_post=window-of-opportunity-page-01-of-02 http://www.inkystories.com/comics/window-of-opportunity.htm
Redirect 301 /?webcomic_post=zips-last-day-page-01-of-16 http://www.inkystories.com/comics/zips-last-day.htm

Redirect 301 /?webcomic_post=reach-24-hour-comic-2004-page-01-of-12 http://www.inkystories.com/comics/reach.htm
Redirect 301 /?webcomic_post=soaked-24-hour-comic-2007-page-01-of-24 http://www.inkystories.com/comics/soaked.htm
Redirect 301 /?webcomic_post=untitled-24-hour-comic-2008-page-01-of-13 http://www.inkystories.com/comics/now-aint-soon-enough.htm
Redirect 301 /?webcomic_post=blank-spot-24-hour-comic-2009-page-01-of-20 http://www.inkystories.com/comics/blank-spot.htm
Redirect 301 /?webcomic_post=training-daze-24-hour-comic-2010-page-01-of-19 http://www.inkystories.com/comics/training-daze.htm

Redirect 301 /dots-all-folks-wip http://www.inkystories.com/comics/enter-general-zaq.htm

Redirect 301 /?p=476 http://www.inkystories.com/blog/exhibit-2013-agencyport.htm

Redirect 301 /?webcomic_post=doctor-who-into-the-dalek-page-1-of-1 http://www.inkystories.com/comics/doctor-who-into-the-dalek.htm
Redirect 301 /into-the-dalek http://www.inkystories.com/comics/doctor-who-into-the-dalek.htm

Redirect 301 /?p=695 http://www.inkystories.com/comics/doctor-who-flatline.htm
Redirect 301 /doctor-who-flat-stanley http://www.inkystories.com/comics/doctor-who-flatline.htm
 
Redirect 301 /?p=698 http://www.inkystories.com/comics/doctor-who-handles-revenge.htm
Redirect 301 /doctor-who-handles-revenge http://www.inkystories.com/comics/doctor-who-handles-revenge.htm

Redirect 301 /?webcomic_post=agent-k-judo-trick-the-strangler http://www.inkystories.com/comics/agent-k-judo-trick-strangler.htm
Redirect 301 /agent-k-judo-trick-the-strangler http://www.inkystories.com/comics/agent-k-judo-trick-strangler.htm

Redirect 301 /?webcomic_post=stop-that-panzer-woman-cover http://www.inkystories.com/comics/stop-that-panzer-woman.htm
Redirect 301 /panzer-woman http://www.inkystories.com/comics/stop-that-panzer-woman.htm
Redirect 301 /agent-k-panzer-woman http://www.inkystories.com/comics/stop-that-panzer-woman.htm

Redirect 301 /?webcomic_post=inky-stories-7-outside-front-cover http://www.inkystories.com/comics/cupids-got-a-death-ray.htm
Redirect 301 /cupid-death-ray http://www.inkystories.com/comics/cupids-got-a-death-ray.htm
Redirect 301 /agent-k-cupid-death-ray http://www.inkystories.com/comics/cupids-got-a-death-ray.htm

Redirect 301 /?webcomic_post=i-did-nothing-page-1-of-4 http://www.inkystories.com/comics/i-did-nothing.htm

Redirect 301 /?webcomic_post=the-punisher-in-franks-next-mission-page-1-of-2 http://www.inkystories.com/comics/franks-next-mission.htm
Redirect 301 /punisher-vs-galactus http://www.inkystories.com/comics/franks-next-mission.htm
