/* store ------------------------------ */

.about {
	.section {
		&.intro {
			background: $section-intro-about url("#{$layout-image-path}/section-intro-about.png") 0 0 no-repeat;
			background-size: cover;
			padding: 0;
			border-bottom: $border-default;
			&.comic-book-panel {
				.word-balloon {
					margin-bottom: 0;
					&:after {
						left: -33px;
						top: 20px;
						border: 33px solid transparent;
						border-width: 20px 45px 20px 0;
						border-right-color: $word-balloon-background;
						margin-top: 0;
						margin-left: 0;
					}
				}
				.speaker {
					top: 0;
					bottom: auto;
					left: 0;
					width: 175%;
					height: 100%;
					background: transparent url("#{$speaker-image-path}/dave-drafting-table.png") 0 0 no-repeat;
					background-size: cover;
					background-position: 0 0;
				}
				.text {
					padding: 2rem 0;
					h1 {}
					p {
						margin-bottom: 0;
					}
				}
			}
		}
		&.details {
			.sidebar-column {
				text-align: center;
				.photo {
					margin: -1rem auto 1rem;
					&.dsm-portrait-drawing {
						background-image: url("#{$pictures-image-path}/dave-2015-lense-flared.jpg");
					}
				}
				p {
					text-align: left;
					margin: 0 $spacer-large;
					font-family: $font-family-italic;
					color: $gray-lightest;
				}
			}
		}
	}
}

@media (max-width: 576px) { 
	.about {
		.section.intro {
			&.comic-book-panel {
				.word-balloon {
					&:after {
						display: none;
					}
				}
				.text {
					padding: 1rem;
				}				
			}
		}
	}
}
