/* store ------------------------------ */

.about {
	.section {
		&.intro {
			border-bottom: $border-default;
			background-position: -20rem 0;
			background-image: url("#{$layout-image-path}/intro-corner-dots.png");
			h1 {
			}
			p {
				margin-bottom: 0;
			}
			
			img {
				&.photo {
					&.circle {
						height: $photo-circle-xs;
						width: $photo-circle-xs;
						margin-top: -1rem;
					}
				}

			}
		}
		
		&.details {
			.sidebar-column {
				text-align: center;
				.photo {
					margin: -1rem auto 1rem;
					&.dsm-portrait-drawing {
						background-image: url("#{$pictures-image-path}/dave-2015-lense-flared.jpg");
					}
				}
				p {
					text-align: left;
					margin: 0 $spacer-large;
					font-family: $font-family-italic;
					color: $gray-lightest;
				}
			}
		}
	}
}

@media (max-width: 1199px) { 
	.sidebar-column {
		margin-bottom: 2rem;
		.circle {
			height: $photo-circle-md;
			width: $photo-circle-md;
		}
		p {
			margin: 0;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) { 
	.about {
		.section {
			&.details {
				.sidebar-column {
					.circle {
						height: $photo-circle-sm;
						width: $photo-circle-sm;
						margin-left: -1rem;
					}
					p {
						margin: 0;
					}
				}
			}
		}
	}
}
