/* characters ------------------------- */

.characters {
	.section {
		&.intro {
			.text-page-header {
				padding-bottom: 0 !important;
			}				
		}
		&.thumbnails {
			padding-top: 0;
		}
	}
	&.index {
		.section {
			&.intro {
				padding-bottom: 0;
			}
			&.thumbnails {
				padding-top: 0;
			}
		}
		.thumbnails {
			h2 {
				border-bottom: $border-default;
				margin-bottom: 2rem;
				padding-bottom: 1rem;
			}
			.thumbnail {
				text-align: center;
				.picture {
					display: block;
					background: #ccc no-repeat 0 0;
					background-size: cover;
					border: $border-default;
					width: $photo-circle-sm;
					height: $photo-circle-sm;
					border-radius: $circle-border-radius;
					margin: 0 auto 1rem;
					
					&.agent-k {
						background-image: url("#{$characters-image-path}/agent-k/thumbnail.jpg");
					}
					&.agent-d {
						background-image: url("#{$characters-image-path}/agent-d/thumbnail.jpg");
					}
					&.castellon-crime-family{
						background-image: url("#{$characters-image-path}/castellon-crime-family/thumbnail.jpg");
					}
					&.delgada {
						background-image: url("#{$characters-image-path}/delgada/thumbnail.jpg");
					}
					&.general-zaq {
						background-image: url("#{$characters-image-path}/general-zaq/thumbnail.jpg");
					}
					&.las-navajeras{
						background-image: url("#{$characters-image-path}/las-navajeras/thumbnail.jpg");
					}
					&.mecanica {
						background-image: url("#{$characters-image-path}/mecanica/thumbnail.jpg");
					}
					&.quasara {
						background-image: url("#{$characters-image-path}/quasara/thumbnail.jpg");
					}
					&.the-director {
						background-image: url("#{$characters-image-path}/the-director/thumbnail.jpg");
					}
					&.the-senorita {
						background-image: url("#{$characters-image-path}/the-senorita/thumbnail.jpg");
					}
				}
				.text {
				}
				
				&:hover {
					.picture {
						border-color: $link-hover-color;
					}
				}
			}
		}
	}
	
	&.character {
		.theme-image {
			margin-bottom: 1rem;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}