/* comic books ------------------------ */

.comic-book {
	.comic-book-story {
		.comic-book-page {
			background: $comic-book-page-bg;
			text-align: center;
			padding: $comic-book-page-padding;
			
			img {
				margin: $comic-book-img-margin;
				border: $comic-book-img-border;
			}
			.no-border {
				img {
					border: none;
				}			
			}
			.double-page-spread {
				img {
					width: $comic-book-page-width;
				}		
			}
			.author-notes {
				text-align: left;
				width: $comic-book-page-width;
				margin: 0 auto;
			}
			&.carousel {
				.carousel-control-prev, 
				.carousel-control-next {
					width: $carousel-nav-width;
					background: transparent;
					align-items: flex-start;
					top: $carousel-nav-top;
					opacity: .5;
					padding-top: $carousel-nav-padding-top;
					.carousel-control-prev-icon, 
					.carousel-control-next-icon {
						position: sticky;
						top: $carousel-icon-top;
						background: none;
						width: auto;
						height: auto;
						font-family: $carousel-icon-font;
						font-size: $carousel-icon-size;
						color: $icon-link-color;
					}
					.carousel-control-prev-icon {
						&:before {content: $icon-comic-nav-prev;}
					}
					.carousel-control-next-icon {
						&:before {content: $icon-comic-nav-next;}
					}
		
					&:hover {
						opacity: 1;
						.carousel-control-prev-icon, 
						.carousel-control-next-icon {
						}			
					}
					&:active {
						.carousel-control-prev-icon, 
						.carousel-control-next-icon {
							color: $icon-link-color-active;
						}			
					}
					&:focus,
					&.focus {
						outline: 0;
						box-shadow: $btn-focus-box-shadow;
					}
				}
				.carousel-control-prev {
					justify-content: flex-start;
				}
				.carousel-control-next {
					justify-content: flex-end;
				}	
				.button-row {
					.prev, .next {
						min-width: $carousel-button-width;
						margin-bottom: $carousel-button-margin-bottom;
					}
				}
	
				@media (max-width: 991px) { 
					.carousel-control-prev, 
					.carousel-control-next {
						width: $carousel-nav-width-sm;
					}
					.carousel-control-prev {
						left: $carousel-nav-position-sm;
					}
					.carousel-control-next {
						right: $carousel-nav-position-sm;
					}
				}
				@media (max-width: 661px) { 
					.carousel-control-prev, 
					.carousel-control-next {
						display: none;
					}
				}
				@media (min-width: 1200px) { 
					.carousel-control-prev {
						justify-content: flex-end;
						padding-right: $carousel-nav-padding-sm;
					}
					.carousel-control-next {
						justify-content: flex-start;
						padding-left: $carousel-nav-padding-sm;
					}	
				}
			}
		}
		@media (max-width: 575.98px) { 
			.comic-book-page {
				background: transparent;
			}
		}
	}
	.comic-book-info {
		border-top: $border-default;
		.comic-book-page {
			&.figure {
				img {
					border: $comic-book-img-border;
					margin-bottom: $spacer-small;
				}
			}
			&.row {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}
}

.comic-book-overview {
	.comic-book-page {
		background: $comic-book-page-bg;
		text-align: center;
		margin-bottom: $comic-book-page-margin;
		padding: $comic-book-page-padding;
		img {
			margin: $comic-book-img-margin;
			border: $comic-book-img-border;
		}
		&.figure {
			background: transparent;
			&.float-left {
				margin-right: 1.5rem;
			}
			img  {
				margin-bottom: $spacer-small;
			}
		}
	}
}

.affix {
	position: fixed;
	top: 5.1rem;
	right: 0;
	left: 0;
	z-index: 1030;
}


.comic-book-genre {
	.intro {
		background: #efefef;
	}
}

.comic-book-listing, 
.comic-book-genre {
	&.comix {
		.section {
			&.intro {
				background-color: $comics-for-adults-bg;
				background-image: none;
				h1, h2 {
					color: $white;
				}
				p {
					color: $gray-light;
				}
				.ratings {
					.rating {
						color: $white;
						background: transparent;
						border-color: $gray;
					}
				}		
				.thumbnails a {
					.text .name {
							color: $white;	
					}
					.text .description {
						color: $gray-light; 
					}
					&:hover {
						.text .name {
							color: $gray-lightest;	
						}
					}					
				}
			}
		}
	}
	.section {
		&.intro {
			border-bottom: 0;
			padding-bottom: 1rem;
			background: $section-intro-comics url("#{$layout-image-path}/intro-corner-dots-nofade-white.png") 0 0 repeat;
			background-size: 50%;
			.text-page-header {
				margin-bottom: 0;
			}
			&.comic-book-panel {
				.word-balloon {
					&:after {
						left: -33px;
						top: 20px;
						border: 33px solid transparent;
						border-width: 20px 45px 20px 0;
						border-right-color: $word-balloon-background;
						margin-top: 0;
						margin-left: 0;
					}
				}
				.speaker {
					top: 0;
					bottom: auto;
					left: 0;
					width: 100%;
					height: 100%;
					background: transparent url("#{$speaker-image-path}/obscuritor-closeup.png") 0 0 no-repeat;
					background-size: cover;
					background-position: 0 0;
				}
			}
			.text {
				padding: 2rem 0;
				h1 {
				}
				p {
					color: $comic-listing-intro-color;
					margin-bottom: 0;
				}			
			}
			
			.comic-book-font {
				em {
					font-family: $comic-book-font-bold-italic;
				}
			}
		}
		
		&.genre-nav {
			text-align: center;
			background: $section-intro-comics url("#{$layout-image-path}/intro-corner-dots-nofade-white.png") 0 0 repeat;
			background-size: 50%;
			padding: 0;

			.comics-nav-toggler {
				display: inline-block;
				position: relative;	
				text-decoration: none;
				background: $white;
				padding: .5rem 1rem;
				margin: 0 auto 1rem;
				&:after {
					font-family: 'Font Awesome Solid';
					content: $icon-toggle-open;
				}
				&.collapsed {
					&:after {
						content: $icon-toggle-collapsed;
					}
				}
			}
			.nav {
			}
			li {
				a {
					color: $genre-link-color;
					padding: .75rem 1rem;
					text-decoration: none;
					font-family: $font-family-bold;
					text-transform: uppercase;
					
					color: $genre-link-color;
			
					&:hover {
						color: $genre-link-color-hover;
					}
					&:active {
						color: $genre-link-color-active;
					}
					&.active {
						color: $black;
						background: $white;
						&.adult-content {
							color: $white;
							background: $comics-for-adults-bg;
						}
					}
				}
			}
		}
		
		&.genres {
			padding: 0;
			border: 0;
			.genre {
				background: $white 0 0 no-repeat;
				background-size: cover;
				padding-bottom: $spacer-base;
				margin-bottom: 0;
				border-bottom: 0;
			
				&#adult-content {
					border-bottom: 0;
				}
			}
		}
									
		&#adult-content {
			background-color: $comics-for-adults-bg;
			h2 {
				color: $white;
			}
			p {
				color: $gray-light;
			}
			.ratings {
				.rating {
					color: $white;
					background: transparent;
					border-color: $gray;
				}
			}		
			.thumbnails a {
				.text .name {
						color: $white;	
				}
				.text .description {
					color: $gray-light; 
				}
				&:hover {
					.text .name {
						color: $gray-lightest;	
					}
				}					
			}
 		}
		&.FOO_GENRE {
			background-color: $gray-lighter;
			h2 {
				color: $black;
			}
			p {
				color: $gray-dark;
			}
			a {
				&:hover {
					color: $white;
				}
				&:active {}
			}
		}
	}
}

.comic-book-genre {
	.section {
		&.intro {
			padding-bottom: 2rem;
		}
	}
}

.thumbnails {
	.thumbnail {
		background: $comic-book-thumbnail-bg;
		margin-bottom: $spacer-large;
		display: block;
		.image {
			background: $comic-book-thumbnail-image-bg;
			background-size: cover;
			border: $comic-book-thumbnail-image-border;
			width: 100%;
			height: 19rem;
			margin-bottom: $spacer-small;
			display: block;
			.hover {
				display: block;
				background: $white;
				height: 100%;
				opacity: 0;
			}
			&:hover {
				border-color: $link-color;
				box-shadow: $white-glow;
				.hover {
					opacity: .5;
				}
			}
			&:focus {
				outline: 0;
				box-shadow: $btn-focus-box-shadow;
			}
		}
		.text {
			h4, p {
				margin-bottom: 0;
			}
			p {
				margin-bottom: $spacer-small;
			}
			a {
				text-decoration: none;
			}
		}
		&.FOO_COMIC .image {
			background-image: url("#{$comics-image-path}/FOO_COMIC/00.jpg");
		}
		&.earth-girls-rnt-easy .image {
			background-image: url("#{$comics-image-path}/earth-girls-rnt-easy/01.jpg") !important;
		}
		&.enter-general-zaq .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/00-cover.jpg") !important;
		}
		&.franks-next-mission .image {
			background-image: url("#{$comics-image-path}/franks-next-mission/01.jpg") !important;
		}
		&.i-did-nothing .image {
			background-image: url("#{$comics-image-path}/i-did-nothing/03.jpg") !important;
		}
		&.go-snow .image {
			background-image: url("#{$comics-image-path}/go-snow/01.jpg") !important;
		}
		&.grubhub-delivery .image {
			background-image: url("#{$comics-image-path}/grubhub-delivery/01.jpg") !important;
		}
		&.here-i-am .image {
			background-image: url("#{$comics-image-path}/here-i-am/01.jpg") !important;
		}
		&.last-day-on-earth .image {
			background-image: url("#{$comics-image-path}/the-last-day-on-earth/01.jpg") !important;
		}
		&.little-green-man .image {
			background-image: url("#{$comics-image-path}/little-green-man/01.jpg") !important;
			background-size: contain;
		}
		&.paradigm-shift .image {
			background-image: url("#{$comics-image-path}/paradigm-shift/01.jpg") !important;
		}
		&.plate-ground .image {
			background-image: url("#{$comics-image-path}/plate-ground/01.jpg") !important;
		}
		&.lucky-seven-dee-brown .image {
			background-image: url("#{$comics-image-path}/lucky-seven-dee-brown/01.jpg") !important;
		}
		&.shower-powered .image {
			background-image: url("#{$comics-image-path}/shower-powered/01.jpg") !important;
		}
		&.six-year-old-horse-thief .image {
			background-image: url("#{$comics-image-path}/six-year-old-horse-thief/01.jpg") !important;
		}
		&.the-watchman .image {
			background-image: url("#{$comics-image-path}/the-watchman/01.jpg") !important;
		}
		
		&.stop-that-panzer-woman .image {
			background-image: url("#{$comics-image-path}/stop-that-panzer-woman/10.jpg") !important;
		}
		&.the-null-device .image {
			background-image: url("#{$comics-image-path}/the-null-device/18.jpg") !important;
		}
		&.enter-general-zaq .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/07.jpg") !important;
		}
		&.cupids-got-a-death-ray .image {
			background-image: url("#{$comics-image-path}/cupids-got-a-death-ray/04.jpg") !important;
		}
		&.agent-k-judo-trick-strangler .image {
			background-image: url("#{$comics-image-path}/agent-k-judo-trick-strangler/01.jpg") !important;
		}
		
		&.ladybat-fanboy-tool-talk .image {
			background-image: url("#{$comics-image-path}/ladybat-fanboy-tool-talk/01.jpg") !important;
		}
		&.batgirl-and-joker .image {
			background-image: url("#{$comics-image-path}/batgirl-and-joker/01.jpg") !important;
		}
		&.dark-knight-damsel-returns .image {
			background-image: url("#{$comics-image-path}/the-dark-knight-damsel-returns/01.jpg") !important;
		}
		&.batgirl-in-time-crash .image {
			background-image: url("#{$comics-image-path}/batgirl-in-time-crash/01.jpg") !important;
		}
		&.day-of-the-batgirl .image {
			background-image: url("#{$comics-image-path}/day-of-the-batgirl/01.jpg") !important;
		}
		&.million-dollar-debut-of-batgirl .image {
			background-image: url("#{$comics-image-path}/the-million-dollar-debut-of-batgirl/01.jpg") !important;
		}
		&.batgirl-training-day .image {
			background-image: url("#{$comics-image-path}/batgirl-in-training-day/01.jpg") !important;
		}
		&.end-of-the-doctor .image {
			background-image: url("#{$comics-image-path}/the-end-of-the-doctor/01.jpg") !important;
		}
		&.flatline .image {
			background-image: url("#{$comics-image-path}/doctor-who/flatline.jpg") !important;
		}
		&.time-of-the-doctor .image {
			background-image: url("#{$comics-image-path}/doctor-who/time-of-the-doctor.jpg") !important;
		}
		&.into-the-dalek .image {
			background-image: url("#{$comics-image-path}/doctor-who/into-the-dalek-duo.jpg") !important;
		}
		&.training-daze .image {
			background-image: url("#{$comics-image-path}/training-daze/01.jpg") !important;
		}
		&.blank-spot .image {
			background-image: url("#{$comics-image-path}/blank-spot/01.jpg") !important;
		}
		&.now-aint-soon-enough .image {
			background-image: url("#{$comics-image-path}/now-aint-soon-enough/01.jpg") !important;
		}
		&.soaked .image {
			background-image: url("#{$comics-image-path}/soaked/01.jpg") !important;
		}
		&.reach .image {
			background-image: url("#{$comics-image-path}/reach/01.jpg") !important;
		}
		&.a-runnin-from-a-gunnin .image {
			background-image: url("#{$comics-image-path}/a-runnin-from-a-gunnin/01.jpg") !important;
		}
		&.not-really-blade-kills-twilight .image {
			background-image: url("#{$comics-image-path}/not-really-blade-kills-twilight/01.jpg") !important;
		}
		&.the-bleeding-mirror .image {
			background-image: url("#{$comics-image-path}/the-bleeding-mirror/01.jpg") !important;
		}
		&.bottle-of-red .image {
			background-image: url("#{$comics-image-path}/bottle-of-red/01.jpg") !important;
		}
		&.dead-by-the-pool .image {
			background-image: url("#{$comics-image-path}/dead-by-the-pool/01.jpg") !important;
		}
		&.encore .image {
			background-image: url("#{$comics-image-path}/encore/01.jpg") !important;
		}
		&.the-return .image {
			background-image: url("#{$comics-image-path}/the-return/01.jpg") !important;
		}
		&.school-fight .image {
			background-image: url("#{$comics-image-path}/school-fight/01.jpg") !important;
		}
		&.twilights-last-gleaming .image {
			background-image: url("#{$comics-image-path}/twilights-last-gleaming/01.jpg") !important;
		}
		&.window-of-opportunity .image {
			background-image: url("#{$comics-image-path}/window-of-opportunity/01-censored.jpg") !important;
		}
		&.the-worlds-slowest-foot-chase .image {
			background-image: url("#{$comics-image-path}/the-worlds-slowest-foot-chase/01-censored.jpg") !important;
		}
		&.zips-last-day .image {
			background-image: url("#{$comics-image-path}/zips-last-day/01.jpg") !important;
		}
		
		&#inky-stories-7 .image {
			background-image: url("#{$store-image-path}/07.jpg");
		}
		&#inky-stories-6 .image {
			background-image: url("#{$store-image-path}/06.jpg");
		}
		&#inky-stories-5 .image {
			background-image: url("#{$store-image-path}/05.jpg");
		}
		&#inky-stories-4 .image {
			background-image: url("#{$store-image-path}/04.jpg");
		}
		&#inky-stories-3 .image {
			background-image: url("#{$store-image-path}/03.jpg");
		}
		&#inky-stories-2 .image {
			background-image: url("#{$store-image-path}/02.jpg");
		}
		&#inky-stories-1 .image {
			background-image: url("#{$store-image-path}/01.jpg");
		}
		
		&.cover-wip-1 .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/wip/cover-art-01.jpg") !important;
		}
		&.cover-wip-2 .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/wip/cover-art-02.jpg") !important;
		}
		&.cover-wip-3 .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/wip/cover-art-03.jpg") !important;
		}
		&.cover-wip-4 .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/wip/cover-art-04.jpg") !important;
		}
		&.cover-wip-5 .image {
			background-image: url("#{$comics-image-path}/enter-general-zaq/wip/cover-art-05.jpg") !important;
		}
	}
	
	&.image-gallery {
		.thumbnail {
			.image {
				height: 12rem;
			}
		}
	}
}

.script	{
	font-family: courier, 'courier new', monospace; 
	font-size: $font-size-base;
	.page {
		border: $border-default; 
		border-top: rem(3px solid #000); 
		padding: $spacer-large 0; 
		margin-bottom: $spacer-large; 
		text-align: center;
		
		h2, h3, p {
			margin-left: $spacer-large; 
			margin-right: $spacer-large; 
			text-align: left;
		}
		h2, h3, h4, dt {
			font-family: courier, 'courier new', monospace;
			font-weight: bold;
			font-size: $font-size-base;
		}
		dt {
			margin-bottom: 0;
		}
		h2 {
			margin-bottom: $spacer-base; 
		}
		h3 {
			border-top: $border-default; 
			margin-top: $spacer-large; 
			padding-top: $spacer-base; 
			margin-bottom: $spacer-xs; 
			text-transform: uppercase;
		}
		.dialog	{
			margin: 0 auto; 
			width: 70%; 
			text-align: left;
			
			h4, p {
				margin: 0; 
				padding: 0;
			}
			h4	{
				text-align: center; 
				text-transform: uppercase;
			}
			p {
				margin-bottom: $spacer-base;
			}
		}
	}
}

.commissions {
	ul {
		padding-left: 0;
		list-style: none;
		li {
			font-family: $font-family-italic;
		}
	}
	dl {
		margin-bottom: $spacer-small;
		dt, dd  {
			padding: $spacer-small 0;
		}
		dt {
			border-bottom: $border-default;
		}
		dd {
			border-bottom: $border-light;
		}
	}
	.price {
		display: inline-block;
		width: 3rem;
	}
	
	.promo-blurb {
		background-color: lighten($theme-color-6, 60%);
		border-color: $theme-color-2;
		border-bottom: $border-default;
		
		.text {
			margin: 1rem 0;
		}
		h2 {
			color: $text-color;
		}
		p {}
		a {}
	}
	
	.section {
		&.intro {
			background: $section-intro-comics url("#{$layout-image-path}/section-intro-comics.png") 0 0 no-repeat;
			background-size: cover;
			padding: 0;
			&.comic-book-panel {
				.speaker {
					background-image: url("#{$speaker-image-path}/dave-drawing-as-kid.png");
					background-position: 0 0;
					top: 0;
					left: 0;
					bottom: auto;
					width: 140%;
					height: 100%;
				}
				.text {
					padding: 2rem 0;
					h1 {}
					p {
						margin-bottom: 0;
					}
				}
			}
		}
	}	
}
