/* fonts ------------------------------ */

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../fonts/proxima-nova/proxima-nova-reg.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-reg.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../../fonts/proxima-nova/proxima-nova-bold.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold.svg#proxima_novabold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Italic';
  src: url("../../fonts/proxima-nova/proxima-nova-reg-italic.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-reg-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg-italic.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg-italic.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-reg-italic.svg#proxima_novaregular_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold Italic';
  src: url("../../fonts/proxima-nova/proxima-nova-bold-italic.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold-italic.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-bold-italic.svg#proxima_novabold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Alt';
  src: url("../../fonts/proxima-nova/proxima-nova-alt-regular.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-alt-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-regular.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-regular.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-regular.svg#proxima_nova_alt_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Alt Bold';
  src: url("../../fonts/proxima-nova/proxima-nova-alt-bold.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-alt-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-bold.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-bold.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-bold.svg#proxima_nova_alt_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Alt Condensed Semibold';
  src: url("../../fonts/proxima-nova/proxima-nova-alt-semibold.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-alt-semibold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-semibold.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-semibold.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-semibold.svg#proxima_nova_alt_condensedSBd") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Alt Black';
  src: url("../../fonts/proxima-nova/proxima-nova-alt-black.eot");
  src: url("../../fonts/proxima-nova/proxima-nova-alt-black.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-black.woff") format("woff"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-black.ttf") format("truetype"), 
 	   url("../../fonts/proxima-nova/proxima-nova-alt-black.svg#proxima_nova_altblack") format("svg");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Spinner Rack Regular';
  src: url("../../fonts/spinner-rack/spinner-rack-regular.eot");
  src: url("../../fonts/spinner-rack/spinner-rack-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-regular.woff") format("woff"), 
 	   url("../../fonts/spinner-rack/spinner-rack-regular.ttf") format("truetype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-regular.svg#spinner-rack/spinner-rack-regular_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spinner Rack Italic';
  src: url("../../fonts/spinner-rack/spinner-rack-italic.eot");
  src: url("../../fonts/spinner-rack/spinner-rack-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-italic.woff") format("woff"), 
 	   url("../../fonts/spinner-rack/spinner-rack-italic.ttf") format("truetype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-italic.svg#spinner-rack/spinner-rack-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Spinner Rack Bold Italic';
  src: url("../../fonts/spinner-rack/spinner-rack-bold-italic.eot");
  src: url("../../fonts/spinner-rack/spinner-rack-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-bold-italic.woff") format("woff"), 
 	   url("../../fonts/spinner-rack/spinner-rack-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/spinner-rack/spinner-rack-bold-italic.svg#spinner-rack/spinner-rack-bold-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Action Man Regular';
  src: url("../../fonts/action-man/action-man-regular.eot");
  src: url("../../fonts/action-man/action-man-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/action-man/action-man-regular.woff") format("woff"), 
 	   url("../../fonts/action-man/action-man-regular.ttf") format("truetype"), 
 	   url("../../fonts/action-man/action-man-regular.svg#action-man/action-man-regular_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Action Man Bold';
  src: url("../../fonts/action-man/action-man-bold.eot");
  src: url("../../fonts/action-man/action-man-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/action-man/action-man-bold.woff") format("woff"), 
 	   url("../../fonts/action-man/action-man-bold.ttf") format("truetype"), 
 	   url("../../fonts/action-man/action-man-bold.svg#action-man/action-man-bold_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Action Man Italic';
  src: url("../../fonts/action-man/action-man-italic.eot");
  src: url("../../fonts/action-man/action-man-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/action-man/action-man-italic.woff") format("woff"), 
 	   url("../../fonts/action-man/action-man-italic.ttf") format("truetype"), 
 	   url("../../fonts/action-man/action-man-italic.svg#action-man/action-man-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Action Man Bold Italic';
  src: url("../../fonts/action-man/action-man-bold-italic.eot");
  src: url("../../fonts/action-man/action-man-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/action-man/action-man-bold-italic.woff") format("woff"), 
 	   url("../../fonts/action-man/action-man-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/action-man/action-man-bold-italic.svg#action-man/action-man-bold-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Toontime Regular';
  src: url("../../fonts/toontime/toontime-regular.eot");
  src: url("../../fonts/toontime/toontime-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/toontime/toontime-regular.woff") format("woff"), 
 	   url("../../fonts/toontime/toontime-regular.ttf") format("truetype"), 
 	   url("../../fonts/toontime/toontime-regular.svg#toontime/toontime-regular_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toontime Bold';
  src: url("../../fonts/toontime/toontime-bold.eot");
  src: url("../../fonts/toontime/toontime-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/toontime/toontime-bold.woff") format("woff"), 
 	   url("../../fonts/toontime/toontime-bold.ttf") format("truetype"), 
 	   url("../../fonts/toontime/toontime-bold.svg#toontime/toontime-bold_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toontime Italic';
  src: url("../../fonts/toontime/toontime-italic.eot");
  src: url("../../fonts/toontime/toontime-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/toontime/toontime-italic.woff") format("woff"), 
 	   url("../../fonts/toontime/toontime-italic.ttf") format("truetype"), 
 	   url("../../fonts/toontime/toontime-italic.svg#toontime/toontime-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Toontime Bold Italic';
  src: url("../../fonts/toontime/toontime-bold-italic.eot");
  src: url("../../fonts/toontime/toontime-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/toontime/toontime-bold-italic.woff") format("woff"), 
 	   url("../../fonts/toontime/toontime-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/toontime/toontime-bold-italic.svg#toontime/toontime-bold-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Wonder Comic Regular';
  src: url("../../fonts/wonder-comic/wonder-comic-regular.eot");
  src: url("../../fonts/wonder-comic/wonder-comic-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-regular.woff") format("woff"), 
 	   url("../../fonts/wonder-comic/wonder-comic-regular.ttf") format("truetype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-regular.svg#wonder-comic/wonder-comic-regular_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wonder Comic Bold';
  src: url("../../fonts/wonder-comic/wonder-comic-bold.eot");
  src: url("../../fonts/wonder-comic/wonder-comic-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold.woff") format("woff"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold.ttf") format("truetype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold.svg#wonder-comic/wonder-comic-bold_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wonder Comic Italic';
  src: url("../../fonts/wonder-comic/wonder-comic-italic.eot");
  src: url("../../fonts/wonder-comic/wonder-comic-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-italic.woff") format("woff"), 
 	   url("../../fonts/wonder-comic/wonder-comic-italic.ttf") format("truetype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-italic.svg#wonder-comic/wonder-comic-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Wonder Comic Bold Italic';
  src: url("../../fonts/wonder-comic/wonder-comic-bold-italic.eot");
  src: url("../../fonts/wonder-comic/wonder-comic-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold-italic.woff") format("woff"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/wonder-comic/wonder-comic-bold-italic.svg#wonder-comic/wonder-comic-bold-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Yew Basturd Regular';
  src: url("../../fonts/yew-basturd/yew-basturd-regular.eot");
  src: url("../../fonts/yew-basturd/yew-basturd-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-regular.woff") format("woff"), 
 	   url("../../fonts/yew-basturd/yew-basturd-regular.ttf") format("truetype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-regular.svg#yew-basturd/yew-basturd-regular_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yew Basturd Bold';
  src: url("../../fonts/yew-basturd/yew-basturd-bold.eot");
  src: url("../../fonts/yew-basturd/yew-basturd-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold.woff") format("woff"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold.ttf") format("truetype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold.svg#yew-basturd/yew-basturd-bold_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yew Basturd Italic';
  src: url("../../fonts/yew-basturd/yew-basturd-italic.eot");
  src: url("../../fonts/yew-basturd/yew-basturd-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-italic.woff") format("woff"), 
 	   url("../../fonts/yew-basturd/yew-basturd-italic.ttf") format("truetype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-italic.svg#yew-basturd/yew-basturd-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Yew Basturd Bold Italic';
  src: url("../../fonts/yew-basturd/yew-basturd-bold-italic.eot");
  src: url("../../fonts/yew-basturd/yew-basturd-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold-italic.woff") format("woff"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/yew-basturd/yew-basturd-bold-italic.svg#yew-basturd/yew-basturd-bold-italic_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'FONT_FAMILY_NAME';
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot");
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.woff") format("woff"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.ttf") format("truetype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.svg#FONT-FOLDER/FONT_NAME_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FONT_FAMILY_NAME';
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot");
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.woff") format("woff"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.ttf") format("truetype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.svg#FONT-FOLDER/FONT_NAME_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FONT_FAMILY_NAME';
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot");
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.woff") format("woff"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.ttf") format("truetype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.svg#FONT-FOLDER/FONT_NAME_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'FONT_FAMILY_NAME';
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot");
  src: url("../../fonts/FONT-FOLDER/FONT_NAME.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.woff") format("woff"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.ttf") format("truetype"), 
 	   url("../../fonts/FONT-FOLDER/FONT_NAME.svg#FONT-FOLDER/FONT_NAME_SVG") format("svg");
  font-weight: normal;
  font-style: normal;
}












@font-face {
  font-family: 'Open Sans Regular';
  src: url("../../fonts/open-sans/opensans-regular.eot");
  src: url("../../fonts/open-sans/opensans-regular.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-regular.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-regular.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-regular.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold';
  src: url("../../fonts/open-sans/opensans-bold.eot");
  src: url("../../fonts/open-sans/opensans-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-bold.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-bold.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-bold.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Italic';
  src: url("../../fonts/open-sans/opensans-italic.eot");
  src: url("../../fonts/open-sans/opensans-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-italic.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-italic.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-italic.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Bold Italic';
  src: url("../../fonts/open-sans/opensans-bold-italic.eot");
  src: url("../../fonts/open-sans/opensans-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-bold-italic.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-bold-italic.svg#open_sansbold-italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold';
  src: url("../../fonts/open-sans/opensans-semibold.eot");
  src: url("../../fonts/open-sans/opensans-semibold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-semibold.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-semibold.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-semibold.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans Semibold Italic';
  src: url("../../fonts/open-sans/opensans-semibold-italic.eot");
  src: url("../../fonts/open-sans/opensans-semibold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/open-sans/opensans-semibold-italic.woff") format("woff"), 
 	   url("../../fonts/open-sans/opensans-semibold-italic.ttf") format("truetype"), 
 	   url("../../fonts/open-sans/opensans-semibold-italic.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black';
  src: url("../../fonts/roboto/roboto-black.eot");
  src: url("../../fonts/roboto/roboto-black.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/roboto/roboto-black.woff") format("woff"), 
 	   url("../../fonts/roboto/roboto-black.ttf") format("truetype"), 
 	   url("../../fonts/roboto/roboto-black.svg#robotoblack") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Black Italic';
  src: url("../../fonts/roboto/roboto-black-italic.eot");
  src: url("../../fonts/roboto/roboto-black-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/roboto/roboto-black-italic.woff") format("woff"), 
 	   url("../../fonts/roboto/roboto-black-italic.ttf") format("truetype"), 
 	   url("../../fonts/roboto/roboto-black-italic.svg#robotoblack_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold';
  src: url("../../fonts/roboto/roboto-bold.eot");
  src: url("../../fonts/roboto/roboto-bold.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/roboto/roboto-bold.woff") format("woff"), 
 	   url("../../fonts/roboto/roboto-bold.ttf") format("truetype"), 
 	   url("../../fonts/roboto/roboto-bold.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Bold Italic';
  src: url("../../fonts/roboto/roboto-bold-italic.eot");
  src: url("../../fonts/roboto/roboto-bold-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/roboto/roboto-bold-italic.woff") format("woff"), 
 	   url("../../fonts/roboto/roboto-bold-italic.ttf") format("truetype"), 
 	   url("../../fonts/roboto/roboto-bold-italic.svg#robotobold_italic") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto Italic';
  src: url("../../fonts/roboto/roboto-italic.eot");
  src: url("../../fonts/roboto/roboto-italic.eot?#iefix") format("embedded-opentype"), 
 	   url("../../fonts/roboto/roboto-italic.woff") format("woff"), 
 	   url("../../fonts/roboto/roboto-italic.ttf") format("truetype"), 
 	   url("../../fonts/roboto/roboto-italic.svg#robotoitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Font Awesome Solid';
	src: url("../../fonts/font-awesome/fa-solid-900.eot");
	src: url("../../fonts/font-awesome/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/font-awesome/fa-solid-900.woff") format("woff"), 
		url("../../fonts/font-awesome/fa-solid-900.woff2") format("woff2"), 
		url("../../fonts/font-awesome/fa-solid-900.ttf") format("truetype"), 
		url("../../fonts/font-awesome/fa-solid-900.svg#fontawesome-free") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Font Awesome Brands';
	src: url("../../fonts/font-awesome/fa-brands-400.eot");
	src: url("../../fonts/font-awesome/fa-brands-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/font-awesome/fa-brands-400.woff") format("woff"), 
		url("../../fonts/font-awesome/fa-brands-400.woff2") format("woff2"), 
		url("../../fonts/font-awesome/fa-brands-400.ttf") format("truetype"), 
		url("../../fonts/font-awesome/fa-brands-400.svg#fontawesome-free") format("svg");
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Font Awesome Regular';
	src: url("../../fonts/font-awesome/fa-regular-400.eot");
	src: url("../../fonts/font-awesome/fa-regular-400.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/font-awesome/fa-regular-400.woff") format("woff"), 
		url("../../fonts/font-awesome/fa-regular-400.woff2") format("woff2"), 
		url("../../fonts/font-awesome/fa-regular-400.ttf") format("truetype"), 
		url("../../fonts/font-awesome/fa-regular-400.svg#fontawesome-free") format("svg");
	font-weight: normal;
	font-style: normal;
}

.fas {
	font-family: 'Font Awesome Solid';
	font-weight: 900;
}
.fab {
	font-family: 'Font Awesome Brands'; 
	font-weight: 400;
}
.fa {
	font-family: 'Font Awesome Regular';
	font-weight: 400;
}

