/* home ------------------------------- */

.home {
	.section {
		&.intro {
			padding: 1rem 0;
			background: $section-intro-home url("#{$layout-image-path}/intro-corner-dots-nofade-cyan.png") 0 0 repeat;
			background-size: 50%;
			h1 {
				color: $black;	
				text-align: left;
				font-size: $h1-font-size;
			}
			p {
				text-align: left;
				margin-bottom: .5rem;
				&.button-row {
					margin-bottom: 0;
					text-align: right;
					.btn {
						margin-bottom: .5rem;
					}
				}
			}
			&.comic-book-panel {
				.word-balloon {
					&.left-pointer {
						margin-left: 0;
						&::after {
							left: -25px;
							top: 42%;
							border-width: 10px 27px 10px 0px;
						}
					}
				}
				.speaker {
					left: 0;
					bottom: 0;
					background-image: url("#{$speaker-image-path}/dave-drawing-as-kid.png");
					width: 35%;
					height: 213px;
					z-index: 1031;
				}
			}
			.public-image {
				background: transparent no-repeat 0 0;
				background-image: url("#{$banner-image-path}/home-banner.jpg");
				background-size: cover;
			}
		}
	}
	
	.latest {
		.latest-work {
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}
			ul {
				li {}
			}
			.back-to-top {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	
	.featured {
		.has-right-link {
			margin-top: 0;
		}		
	}
	
	.blogs {
		article {
			.entry-thumb, .entry-meta, .entry-footer {
				display: none;
			}
			h1 {
				font-size: $font-size-base;
				margin-bottom: 0;
			}
		}
		.promo-blurb {
			padding: 1rem;
			margin-bottom: 1rem;
			text-align: center;
			border-bottom: 0;
			h2 {
				font-size: $h3-font-size;
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}
		}
		.entry-summary {
			position: relative;
			--lh: 1.4rem;
			line-height: var(--lh);
			--max-lines: 3;
			max-height: calc(var(--lh) * var(--max-lines));
			overflow: hidden;
			text-overflow: ellipsis;
			&::before {
			  content: "...";
			  position: absolute;
			  bottom: 0;
			  right: 0;
			}
			&::after {
			  content: "";
			  position: absolute;
			  right: 0; /* note: not using bottom */
			  width: 1rem;
			  height: 1rem;
			  background: white;
			}		
		}		
	}
	.twitter {
		.tweets {
			position: relative;
			width: 100%;
			height: 450px;
			overflow-y: auto;
		}
	}
}

@media (max-width: 991.98px) { 
	.home  {
		.section {
			&.intro {
				.text {
					min-height: auto;
					.word-balloon {
						padding: 1rem;
					}
				}
				.comic-book-panel {
					.word-balloon:after {
						left: 79px;
						margin-bottom: -22px;
					}
					.speaker {
						left: -3px;
						width: 128px;
						height: 112px;
					}
				}
			}
		}
	}
}

