/* home ------------------------------- */

.home {
	.section {
		&.intro {
			padding: 0;
			.text {
				border-radius: 0;
				background: $section-intro-home url("#{$layout-image-path}/section-intro-home.png") 0 0 no-repeat;
				background-size: 120%;
				border-right: rem(3px solid $white);
				padding: 1.5rem 3rem;
				min-height: 15rem;
				h1 {
					color: $black;	
					font-size: $h2-font-size;
					text-align: center;
					display: none;
				}
				p {
					margin-bottom: 0;
					&.button-row {
						margin-bottom: 0;
						text-align: right;
						.btn {
							margin-bottom: .5rem;
						}
					}
				}
			}
			.public-image {
				background: transparent no-repeat 0 0;
				background-image: url("#{$banner-image-path}/home-banner.jpg");
				background-size: cover;
			}
		}
		&.promos {
			[class*="col"] {
				margin-bottom: $spacer-base;
			}
		}
	}
	
	.latest {
		.latest-work {
			img {
				border: $border-default;
				margin-bottom: $spacer-base;
			}
			h3 {
				margin-bottom: 0;
			}
			p {
				margin-bottom: 0;
			}
			ul {
				li {}
			}
			.back-to-top {
				margin-bottom: 0;
				padding-bottom: 0;
			}
		}
	}
	.blogs {
		article {
			.entry-thumb, .entry-meta, .entry-footer {
				display: none;
			}
			h1 {
				font-size: $font-size-base;
				margin-bottom: 0;
			}
		}
		.entry-summary {
			position: relative;
			--lh: 1.4rem;
			line-height: var(--lh);
			--max-lines: 3;
			max-height: calc(var(--lh) * var(--max-lines));
			overflow: hidden;
			text-overflow: ellipsis;
			&::before {
			  content: "...";
			  position: absolute;
			  bottom: 0;
			  right: 0;
			}
			&::after {
			  content: "";
			  position: absolute;
			  right: 0; /* note: not using bottom */
			  width: 1rem;
			  height: 1rem;
			  background: white;
			}		
		}		
	}
	.twitter {
		.tweets {
			position: relative;
			width: 100%;
			height: 450px;
			overflow-y: auto;
		}
	}
}

@media (max-width: 991.98px) { 
	.home  {
		.section {
			&.intro {
				.text {
					padding: 1.5rem;
					min-height: auto;
					.word-balloon {
						padding: 1rem;
					}
				}
				.comic-book-panel {
					.word-balloon:after {
						left: 79px;
						margin-bottom: -22px;
					}
					.speaker {
						left: -3px;
						width: 128px;
						height: 112px;
					}
				}
			}
		}
	}
}

