/* layout ----------------------------- */

.text-page, .comic-book {
}
.banner-top {
	padding-top: 0;
}
.book-title, .magazine-title, .show-title, .tv-show-title {
	font-family: $font-family-italic;
}

h1, h2, h3, h4 {
	.book-title {
		font-family: $font-family-bold-italic;
	}
}


/* sidebar column --------------------- */

.sidebar {
	margin-bottom: $spacer-large;
	.item {
		border-bottom: $border-default;
		margin-bottom: $spacer-base;
		&:last-child {
  			border: 0;
		}
	}
	.links a {
		text-decoration: none;
	}
}


/* picture-figure text wrapping ------- */

.picture-wrapper {
	position: relative;
	margin-bottom: $spacer-base-vertical;
	&.centered {
		text-align: center;
		.figure-caption {
			text-align: left;
		}
		&.full-width {
			img {
				width: 100%;
			}
		}
	}
	img {
		margin-bottom: .5rem;
	}
}

figure {
	border-bottom: $border-default;
	padding-bottom: .5rem;
	.figure-caption {
		text-align: left;
	}
	&.no-border {
		border: 0;
		img {
			margin-bottom: 0;
		}
	}
	&.image-has-border {
		img {
			border: $border-default;
		}
	}
	&.centered {
		text-align: center;
		img {
			margin: 0 auto .5rem;
		}
		&.full-width {
			img {
				width: 100%;
			}
		}
	}
}

.has-bottom-border {
	margin-bottom: 1rem;
	border-bottom: $border-default;
}

.modal {
	.modal-body {
		figure {
			margin-bottom: 0;
		}
	}
}

.text-page {
	h3, .h3 {
		border-top: rem(1px solid $gray-light);
		padding-top: 1.5rem;
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	.text-page-header {
		padding-top: $spacer-base;
		padding-bottom: $spacer-base;
		margin-bottom: $spacer-large;
		@include comic-book-font;
		h1 {
			font-size: $font-size-base * 2.5;
			line-height: $font-size-base * 2.5;
			margin-bottom: $spacer-base;
		}
		h2 {
		}
		p {
			margin-bottom: 0;
			font-size: $font-size-base * 1.15;
			line-height: 1.2rem;;
		}
		.cta {
			margin-top: 1rem;
		}
	}
}


/* two-column newspaper design -------- */

.newspaper-columns {
	column-count: 2;
	column-gap: 5%;
	column-rule: $border-default;
	margin-bottom: $spacer-large;
	.item, dl {
		margin-bottom: $spacer-base;
		-webkit-column-break-inside: avoid;
		page-break-inside: avoid;
		break-inside: avoid;		
		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}	
	}
}


/* safe image (social media img) ------ */

img {
	&.social-media-preview {
		display: none;
	}
}


/* misc layout ------------------------ */





