/* layout ----------------------------- */

.text-page, .comic-book {
	padding: $spacer-large 0;
}
.banner-top {
	padding-top: 0;
}
.book-title, .magazine-title, .show-title, .tv-show-title {
	font-family: $font-family-italic;
}

h1, h2, h3, h4 {
	.book-title {
		font-family: $font-family-bold-italic;
	}
}




.text-page {
	.text-page-header {
		border-bottom: $border-default;
		padding-bottom: $spacer-base;
		margin-bottom: $spacer-base;
		h1 {}
		p {
			color: $gray;
			margin-bottom: 0;
		}
	}
	@media (min-width: 1200px) and (max-width: 991px), (min-width: 992px) {
		.container, .author-notes {
			max-width: 50rem;
		}
		.author-notes {
		  padding-right: ($grid-gutter-width / 2);
		  padding-left: ($grid-gutter-width / 2);
		}
	}
}
