/* responsive ------------------------- */

@media (min-width: 1200px) { 
	.genre-nav, .comparison-nav {
		.navbar-collapse {
			display: block !important;
		}
		.comics-nav-toggler, .comparison-navigation-toggler {
			display: none !important;
		}
	}	
	.comic-book-listing, .commissions {
		.section.intro {
			&.comic-book-panel {
				.speaker {
					width: 100%;
				}
			}
		}
	}
	.thumbnails {
		.thumbnail {
			.image {
				background-size: cover;
				height: 23rem;
			}
		}
	}
}
	
@media (max-width: 1200px) {
	.comic-book-listing .section.intro {
		padding-bottom: 0;
	}

	.characters.index  {
		.thumbnails {
			.thumbnail {
				.picture {
					width: $photo-circle-xs;
					height: $photo-circle-xs;
				}
			}
		}
	}	
	
	.genre-nav {
		.nav {
			position: relative;
			background: $white !important;
			padding: 1rem;
			margin-bottom: 1rem !important;
			border-radius: 1rem;
			
			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 0;
				border-top: 2rem solid $word-balloon-background;	
				border-left: 1rem solid transparent;
				border-right: 1rem solid transparent;
				margin-bottom: -1.5rem;
			}			
			li {
				margin-bottom: 0;
				a {
					padding: .5rem !important;
					&.active {
						color: $text-disabled-color !important;
						text-decoration: none !important;
						background-color: transparent !important; 
						cursor: default;
					}
				}
			}
		}
	}	
}	

@media (max-width: 991.98px) {

	.newspaper-columns {
		column-count: 1;
		column-gap: 0;
		column-rule: 0;
	}	
	.home  {
		.section {
			&.intro {
				.text {
					min-height: auto;
					.word-balloon {
						padding: 1rem;
					}
				}
				.comic-book-panel {
					.word-balloon:after {
						left: 79px;
						margin-bottom: -22px;
					}
					.speaker {
						left: -3px;
						width: 128px;
						height: 112px;
					}
				}
			}
		}
	}
	.comic-book {
		.comic-book-story {
			.comic-book-page {
				.author-notes {
					width: auto;
				}	
			}
		}
	}
}

@media (max-width: 768px) { 
	body {
		padding-top: $main-nav-height-mobile;
		padding-bottom: $footer-height-mobile;
	}
	.table {
		tr {
			display: flex;
			flex-flow: column wrap;			
			margin-bottom: .5rem;
		}
		td, th {
			border-bottom: $border-default;
			padding: .5rem 0; 
		}
		tbody th {
			border-color: black;
		}
		tfoot {
			td {
				padding-top: 0;
			}
		}
		thead {
			display: none;
		}
		dl dt {
			border: 0;
			padding-bottom: 0;
		}
	}
	
	.table-responsive {
		th, td {
			display: block;
			padding: .5rem;
		}
		td {
			&:before {
				content: attr(data-header);
				font-weight: bold;
				display: inline-block;
				width: 50%;
				text-align: right;
				padding-right: 1rem;
			}
		}
		th {
			text-align: left;
			background-color: #ccc;
			padding: 5px;
			&[scope="col"] {
				display: none;
			}
		}
		tfoot {
			td {
				padding: .5rem 0;
				&:before {
					content: normal;
				}
			}
		}	
	}
	
	.fyi {
		display: block;
	}
	.main-navigation {
		background-image: url("#{$layout-image-path}/main-nav-art.png");
		 .navbar {
		 	padding: 1rem 0;
			h1 {
				display: inline;
				font-size: 2rem;
				line-height: 44px;
				margin-bottom: 4px;
			}
			.navbar-brand {
				display: inline-block;
			}
			
			.navbar-nav {
				text-align: left;
				margin: 0.5rem 0
			}
			.navbar-collapse {
				.navbar-nav {
					flex-direction: row;
					text-align: left;
					li {
						display: inline;
						a {
							margin: 0;
							margin-left: 0.5rem;
							.nav-icon {
								display: none;
							}
							.nav-text {
								display: inline-block;
							}
						}
					}
				}
				.navbar-nav-scroll {
					max-width: 100%;
					height: 2.5rem;
					margin-top: .25rem;
					overflow: hidden;
					font-size: .875rem;
				}
			}
		}
	}
	
	.bordered-image {
		img {
			margin-bottom: $spacer-small;
		}
		.text {
			margin-bottom: $spacer-large;
		}
	}
	.sticky-top {
		position: static;
		top: auto;
	}
	.sidebar {
		.link-list {
			margin-top: $spacer-large;
		}
	}
	.comic-book-listing, .commissions, .store  {
		.section.intro {
			&.comic-book-panel {
				.speaker {
					background-position: 0 0;
				}
				.text {
					padding: $spacer-base;
					.genre-list {
						a {
							padding: 0.25rem .5rem;
							line-height: 2rem;
						}
					}
				}
			}
		}
	}
	.blog {
		article {
			
		}
		&.index {
			article {
				header {
					h1 {
						line-height: 1.4rem;
					}
				}
			}
		}
	}	
}

@media (min-width: 768px) and (max-width: 991px) {
	.main-navigation {
		.navbar {
			.navbar-brand {
				background-image: url("#{$layout-image-path}/main-nav-logo-stacked.png");
				height: 7rem;
			}
		}
	}
}

@media (max-width: 576px) { 
	h1, .h1 {
		font-size: 1.75rem;
		line-height: 1.75rem;
		margin-bottom: $spacer-small;
	}
	.table {
		th, td {
			display: block;
		}
		td {
			display: flex;
			gap: 1rem;
			&:before {
				content: attr(data-header);
				flex-basis: 50%;
				
				flex-shrink: 0;				
			}
		}
		th {
			text-align: left;
			padding: 5px;
			&[scope="col"] {
				display: none;
			}
		}
		tbody {
			th {
				font-family: $font-family-info-headers;
				font-weight: normal;
				padding-left: 0;
				margin-top: $spacer-base;
			}
		}
		tfoot {
			td {
				padding: .5rem 0;
				&:before {
					content: normal;
				}
			}
		}	
	}
		
	.affix {
		position: static;
		top: 0;
	}
	.section {
		padding: $section-padding;
		&.intro {
			padding: 0;
		}
		margin-bottom: $spacer-base;
	}
	
	.home {
		.section {
			&.intro {
				padding-top: $spacer-base;
			}
		}
	}
	
	.blog {
		article {
			header {
				h1 {
					font-size: 1.75rem;
					line-height: 1.75rem;
					margin-bottom: $spacer-small;
				}
				h2, .h2 {
					font-size: 1.2rem;
					line-height: 1.2rem;
				}					
			}
		}
		&.index {
			article {
			}
		}
		.older {
		}
	}		
	
	.text-page {
		 .text-page-header {
		 	margin-bottom: 0;
			h1, .h1 {
				font-size: 1.75rem;
				line-height: 1.75rem;
				margin-bottom: $spacer-small;
			}	
			p {
				font-size: $font-size-base;
				margin-bottom: 0;
			}	 	
		 }
		 h3, .h3 {
		 	margin-top: 0;
		 }
	}
	.word-balloon {
		margin-bottom: 0;
		 h1 {
		 	font-size: 1.4rem;
		 }
		&.left-pointer {
			margin-left: 0;
		}
		&:after {
			display: none;
		}
	}
	.about {
		.section.intro {
			&.comic-book-panel {
				.word-balloon {
					&:after {
						display: none;
					}
				}
				.text {
					padding: 1rem;
				}				
			}
		}
	}
	.store {
		.section.intro {
			&.comic-book-panel {
				.word-balloon {
					&:after {
						display: none;
					}
				}
			}
		}
		
		.merchandise-description {
			margin-bottom: 1rem;
		}		
	}
	.home {
		.promos {
			.has-right-link {
				margin-bottom: .5rem;
			}
			.latest {
				.sticky-top {
					position: static;
				}
				.latest-work {
					margin-bottom: $spacer-base;
					border-bottom: $border-default;
				}
			}

		}
	}
	.comic-book-listing, .commissions, .store  {
		.section.intro {
			&.comic-book-panel {
				.speaker {
					background-position: -40px 0;
				}
				.text {
					padding: 0 !important;
					background: white;
					.word-balloon {
						background: transparent;
						border-radius: 0;
					}
				}
			}
		}
		.section.genres {
			.section.genre {
				&:first-child {
					padding-top: $spacer-base;
				}
				.ratings {
					white-space: nowrap;
					display: none;
				}
			}
		}
	}
	
	.contact-form {
		section.intro {
			background: transparent;
			min-height: auto;
			.word-balloon {
				margin: $spacer-base;
				padding: $spacer-base;
				width: auto;
				h1 {
					font-size: $h3-font-size;
				}
				.social {
					margin-bottom: $spacer-base;
				}
			}	
		}
	}
	.blog {
		&.index {
			.section {
				&.intro {
				}
			}
		}		
	}

	.characters {
		.section.intro .text-page-header {
			padding-bottom: 1rem !important;
		}	
	}
	
	.tile-cards {
		margin-bottom: 2rem;
		.tile-card {
			min-height: auto;
		}
	}
	.story-group-blade {
		.feature-story-card {
			margin-bottom: 0;
		}
		.story-group-row.tile-cards {
			flex-wrap: wrap;
			.item {
   				flex: 1 1 auto;
				border-bottom: $border-default;
				&:not(:first-child):before {
					background: none;
				}
				&:last-child {
					border: none;
				}
			}
		}
	}
	.multi-link {
		.icon {
			display: none;
		}
		.text {
			ul {
				margin-top: 1rem;
				li {
					line-height: 1.2rem;
					&::after {

					}
				}
			}
		}
	}	
}

