/* store ------------------------------ */

.store {
	.section {
		&.intro {
			padding-bottom: 0;
		}
		&#minicomics {
			background: $gray-lighter;
		}
		&#minicomics, &#standard-us-comics-size {
			padding-bottom: 0;
		}
		&#standard-us-comics-size  {
			padding-top: 0;
		}
	}
	
	&.text-page {
		h3, .h3 {
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	
	.promo-blurb {
		background-color: lighten($theme-color-5, 20%);
		h2 {
			a {
				color: $theme-color-9;
			}
		}
		p {}
	}
	
	.merchandise-description {
		margin-bottom: 2rem;
		h2 {
			margin-bottom: .25rem;
		}
		p {
			margin-bottom: 0;
		}
	}
	
	.thumbnails {
		.thumbnail {
			background: $comic-book-thumbnail-bg;
			margin-bottom: 3rem;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			align-items: flex-start;
			.image {
				background: white 0 0 no-repeat;
				background-size: cover;
				border: $comic-book-thumbnail-image-border;
				height: 14rem;
				margin-bottom: $spacer-small;
				flex-basis: 9rem;
				flex-grow: auto;
				flex-shrink: 0;
				margin-right: $spacer-base;
				display: block;
				&:hover {
					border-color: $link-color;
					opacity: 0.5;
				}
				&:focus {
					outline: 0;
					box-shadow: $btn-focus-box-shadow;
				}
			}
			.text {
				flex-grow: 2;
				display: flex;
				flex-direction: column;
				align-content: space-between;
				h3 {
					margin-bottom: .5rem;
				}
				.button-row {
					align-self: flex-start;
				}
			}
		}
	}
}
