/* utility classes -------------------- */

.table-no-padding th,  
.table-no-padding td {
	padding: 0;
}

.main-navigation .skip-link {
	color: $white;
	font-size: .75rem;
	&.sr-only-focusable:focus, 
	&.sr-only-focusable:active {
		position: absolute;
		top: .5rem;
		z-index: 2;
		left: 1rem;
	}
}

.list-inline {
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
}
.list-unstyled {
	li {
		&:not(:last-child) {
			margin-bottom: $spacer;
		}
	}
}

.back-to-top {
	padding: .5rem 0;
	text-align: right;
	.fas {
		color: $icon-link-color;
		margin-left: .5rem;
		&:before {
			content: $icon-back-to-top;
		}
	}
	&:hover {
		.fas {
			color: $icon-link-color-hover;
		}
	}
	&:active {
		.fas {
			color: $icon-link-color-active;
		}
	}

}

.learn-more .fas {
	&:before {
		content: $icon-learn-more;
	}
}

.jumbotron {
	padding: $jumbotron-padding;
    margin-bottom: $spacer-large;
    background-color: $jumbotron-bg;
    border-radius: $jumbotron-border-radius;
}

.section {
	padding: $section-padding-large;
	&.intro {
		padding: $section-padding-large;
	}
}

.photo {
	background: $white no-repeat 0 0;
	background-size: cover;
	border: $border-default;
	margin-bottom: 1rem;
}
.circle {
	height: $photo-circle-lg;
	width: $photo-circle-lg;
	border-radius: $circle-border-radius;
}

.button-backtotop {
	border: 1px solid red;
	padding: 2rem;
	background: blue;
	color: red;
    opacity: 0;
    transition: opacity .5s linear;
	&.active, 
	&:focus {
		opacity: 1;
	}
}

.row {
	&.in-content {
		margin-bottom: 0;
		img {
			margin-bottom: $spacer-large;
		}
	}
}

.listings {
	.listing {
		margin-bottom: 1rem;
		dt, dd {
			margin-bottom: 0;
		}
	}
	&.boxed {
		.listing {
			background: $white right .5rem top .5rem no-repeat;
			background-size: 25%;
			border: $border-default;
			border-top: rem(3px solid $black);
			padding: $spacer-base $spacer-large;
			min-height: 10rem;
			&.bedrock-comics {
				background-image: url("#{$logos-image-path}/bedrock-comics.png");
			}
			&.comicazi {
				background-image: url("#{$logos-image-path}/comicazi.png");
			}
			&.comicopia {
				background-image: url("#{$logos-image-path}/comicopia.png");
			}
			&.hub-comics {
				background-image: url("#{$logos-image-path}/hub-comics.png");
			}
			&.million-year-picnic {
				background-image: url("#{$logos-image-path}/million-year-picnic.png");
			}
			&.new-england-comics {
				background-image: url("#{$logos-image-path}/new-england-comics.png");
				dd {width: 75%;}
			}
			&.paper-asylum {
				background-image: url("#{$logos-image-path}/paper-asylum.png");
			}
			&.the-comic-stop {
				background-image: url("#{$logos-image-path}/the-comic-stop.png");
			}
			&.silver-moon {
				background-image: url("#{$logos-image-path}/silver-moon.png");
			}
			&.outer-limits {
				background-image: url("#{$logos-image-path}/outer-limits.png");
			}
			&.COMIC_BOOK_STORE {
				background-image: url("#{$logos-image-path}/COMIC_BOOK_STORE.png");
			}
		}
	}
}

@media (max-width: 991px) { 
	.listings.boxed .listing {
		background-image: none !important;
		font-size: 85%;
		padding: 1rem;
	}
}


.signature {
	font-family: $font-family-italic;
}

.instructional {
	.instruction {
		font-family: $font-family-italic;
		margin-bottom: $spacer-large-vertical;
	}
}


/* Lightbox 2 ------------------------- */

.lightboxOverlay {
  background-color: black;
  opacity: 0.8;
}

.lightbox {
	.lb-image {
		border-radius: 0;
		border: rem(1px solid white);
	}
	.lb-data {
		.lb-details {
			.lb-caption {
				font-size: $font-size-base;
				font-weight: bold;
				line-height: 1em;			
			}
			.lb-number {
				font-size: 80%;
			}
		}
	}
	
	.lb-closeContainer {
		.lb-close {}
	}
}


/* icons ------------------------------ */

.btn.icon {
	display: inline-flex;
	align-items: center;
}

.learn-more .fas {
	font-size: 2rem;
	margin-left: 1rem;
}

.example {
	margin-bottom: 1rem;
}

/* 404 error page --------------------- */

.error-404 {
	.section {
		&.intro {
			background: transparent url("#{$pictures-image-path}/error-404.jpg") 0 0 no-repeat;
			background-size: cover;
			min-height: 35rem;
			position: relative;
			.text {
				bottom: -8rem;
				h1, h2, p {
					color: white;
				}
			}
		}
	}
}

/* demo ------------------------------- */

.demo {
	border-top: $border-default;
	padding-top: $spacer-base;
	margin-bottom: $spacer-large;
}


/* site-wide use of comic book font --- */

.comic-book-font {
	font-family: $comic-book-font;
	font-size: $comic-book-font-size;
	line-height: $comic-book-font-line-height;
	i, em {
		font-family: $comic-book-font-italic;
	}
	bold, strong, h1, h2, h3, h4, dt {
		font-family: $comic-book-font-bold-italic;
	}
	&.caption {
		font-family: $comic-book-font-italic;
	}
}

.word-balloon {
	position: relative;
	color: $word-balloon-color;
	background: $word-balloon-background;
	border-radius: $word-balloon-border-radius;
	padding: $word-balloon-padding;
	margin-bottom: $spacer-base;
	text-align: center;
	width: 100%;
	&.left-pointer {
		margin-left: 1rem;
	}
	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 70px;
		width: 0;
		height: 0;
		border: 33px solid transparent;
		border-top-color: $word-balloon-background;
		border-bottom: 0;
		border-left: 0;
		margin-left: -16.5px;
		margin-bottom: -25px;
	}
	h1 {
		font-size: $word-balloon-header-size;
		color: $word-balloon-header-color;
		margin-bottom: 0;
	}
}

@media (max-width: 576px) { 
	.word-balloon {
		&.left-pointer {
			margin-left: 0;
		}
		&:after {
			display: none;
		}
	}
}

.comic-book-panel {
	position: relative;
	.speaker {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 150px;
		height: 130px;
		background: transparent url("#{$speaker-image-path}/the-director.png") 0 0 no-repeat;
		background-size: cover;
	}
}

.comic-font-test {
	.spinner-rack {
		.regular {
			font-family: "Spinner Rack Regular";
		}
		.italic {
			font-family: "Spinner Rack Italic";
		}
		.bold-italic {
			font-family: "Spinner Rack Bold Italic";
		}
	}
	.action-comic {
		.regular {
			font-family: "Action Man Regular";
		}
		.bold {
			font-family: "Action Man Bold";
		}
		.italic {
			font-family: "Action Man Italic";
		}
		.bold-italic {
			font-family: "Action Man Bold Italic";
		}
	}
	.toontime {
		.regular {
			font-family: "Toontime Regular";
		}
		.bold {
			font-family: "Toontime Bold";
		}
		.italic {
			font-family: "Toontime Italic";
		}
		.bold-italic {
			font-family: "Toontime Bold Italic";
		}
	}
	.wonder-comic {
		.regular {
			font-family: "Yew Basturd Regular";
		}
		.bold {
			font-family: "Yew Basturd Bold";
		}
		.italic {
			font-family: "Yew Basturd Italic";
		}
		.bold-italic {
			font-family: "Yew Basturd Bold Italic";
		}
	}
	.yew-basturd {
		.regular {
			font-family: "Wonder Comic Regular";
		}
		.bold {
			font-family: "Wonder Comic Bold";
		}
		.italic {
			font-family: "Wonder Comic Italic";
		}
		.bold-italic {
			font-family: "Wonder Comic Bold Italic";
		}
	}
}


/* Tipue search ----------------------- */

#tipue_search_content {
	#tipue_search_results_count {
		border-bottom: $border-default;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	#tipue_search_image_modal {
		.tipue_search_image_close {}
		.tipue_search_image_block {
			img {}
			#tipue_search_zoom_text {}
		}
	}
	.tipue_search_result {
		padding-top: 0;
		padding-bottom: 1rem;
		.tipue_search_content_title {
			font-size: $h4-font-size;
			font-family: $font-family-headers;
		}
		.tipue_search_content_url {
			display: none;
		}
		.tipue_search_image {
			display: none;
			tipue_search_img {} 
			tipue_search_image_zoom	{}	
		}
		.tipue_search_content_text {
			margin-top: 0;
		}
		.tipue_search_note {
			display: none;
		}
	}	
}
