/* utility classes -------------------- */

.table-no-padding th,  
.table-no-padding td {
	padding: 0;
}

.main-navigation .skip-link {
	color: $white;
	font-size: .75rem;
	&.sr-only-focusable:focus, 
	&.sr-only-focusable:active {
		position: absolute;
		top: .5rem;
		z-index: 2;
		left: 1rem;
	}
}

.list-inline {
	li {
		display: inline-block;
		&:not(:last-child) {
			margin-right: .5rem;
		}
	}
}
.list-unstyled {
	li {
		&:not(:last-child) {
			margin-bottom: $spacer;
		}
	}
}

.back-to-top {
	padding: .5rem 0;
	text-align: right;
	.fas {
		color: $icon-link-color;
		margin-left: .5rem;
		&:before {
			content: $icon-back-to-top;
		}
	}
	&:hover {
		.fas {
			color: $icon-link-color-hover;
		}
	}
	&:active {
		.fas {
			color: $icon-link-color-active;
		}
	}

}

.learn-more .fas {
	&:before {
		content: $icon-learn-more;
	}
}

.jumbotron {
	padding: $jumbotron-padding;
    margin-bottom: $spacer-large;
    background-color: $jumbotron-bg;
    border-radius: $jumbotron-border-radius;
}

.section {
	padding: $section-padding-large;
	&.intro {
		padding: $section-padding-large;
	}
}

.photo {
	background: $white no-repeat 0 0;
	background-size: cover;
	border: $border-default;
	margin-bottom: 1rem;
}
.circle {
	height: $photo-circle-lg;
	width: $photo-circle-lg;
	border-radius: $circle-border-radius;
}

.button-backtotop {
	border: 1px solid red;
	padding: 2rem;
	background: blue;
	color: red;
    opacity: 0;
    transition: opacity .5s linear;
	&.active, 
	&:focus {
		opacity: 1;
	}
}

.row {
	&.in-content {
		margin-bottom: 0;
		img {
			margin-bottom: $spacer-large;
		}
	}
}

.listings {
	.listing {
		margin-bottom: 1rem;
		dt, dd {
			margin-bottom: 0;
		}
	}
	&.boxed {
		.listing {
			border: $border-default;
			padding: $spacer-small $spacer-base;
			min-height: 10rem;
		}
	}
}

.signature {
	font-family: $font-family-italic;
}

.instructional {
	.instruction {
		font-family: $font-family-italic;
		margin-bottom: $spacer-large-vertical;
	}
}


/* Lightbox 2 ------------------------- */

.lightboxOverlay {
  background-color: black;
  opacity: 0.8;
}

.lightbox {
	.lb-image {
		border-radius: 0;
		border: rem(1px solid white);
	}
	.lb-data {
		.lb-details {
			.lb-caption {
				font-size: $font-size-base;
				font-weight: bold;
				line-height: 1em;			
			}
			.lb-number {
				font-size: 80%;
			}
		}
	}
	
	.lb-closeContainer {
		.lb-close {}
	}
}


/* icons ------------------------------ */

.btn.icon {
	display: inline-flex;
	align-items: center;
}

.learn-more .fas {
	font-size: 2rem;
	margin-left: 1rem;
}

.example {
	margin-bottom: 1rem;
}

/* 404 error page --------------------- */

.error-404 {
	.intro {
		background: transparent 0 0 no-repeat;
		background-size: cover;
		background-image: url("#{$pictures-image-path}/error-404.jpg");
		min-height: 35rem;
		position: relative;
		.text {
			bottom: -8rem;
			h1, h2, p {
				color: white;
			}
		}
	}
}


/* Tipue search ----------------------- */

#tipue_search_content {
	#tipue_search_results_count {
		border-bottom: $border-default;
		margin-bottom: 1rem;
		padding-bottom: 1rem;
	}
	#tipue_search_image_modal {
		.tipue_search_image_close {}
		.tipue_search_image_block {
			img {}
			#tipue_search_zoom_text {}
		}
	}
	.tipue_search_result {
		padding-top: 0;
		padding-bottom: 1rem;
		.tipue_search_content_title {
			font-size: $h4-font-size;
			font-family: $font-family-headers;
		}
		.tipue_search_content_url {
			display: none;
		}
		.tipue_search_image {
			display: none;
			tipue_search_img {} 
			tipue_search_image_zoom	{}	
		}
		.tipue_search_content_text {
			margin-top: 0;
		}
		.tipue_search_note {
			display: none;
		}
	}	
}
