									<article class="">
										<div class="entry-thumb">
											<a href="FILE_NAME"><img src="../assets/img/pictures/IMAGE.jpg" alt="IMAGE_DESCRIPTION"></a>
										</div>									
										<header>
											<h1><a href="FILE_NAME">BLOG_TOPIC</a></h1>
											<div class="entry-meta">
												<span class="byline"> 
													<span class="author">David Marshall</span>
												</span>		
												<span class="posted-on">
													<a href="http://www.inkystories.com/FILE_NAME"> 
														<time class="entry-date published">POSTED_DATE</time>
														<time class="updated">POSTED_UPDATE</time>
													</a>
												</span>
											</div>
											<div class="entry-summary">	
												<p>BLOG_CONTENT_SUMMARY</p>
											</div>	
											<footer class="entry-footer">
												<span class="cat-links">
													<a href="#" rel="category">Essay</a>
												</span>
											</footer>
										</header>
									</article>
