<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright 1990-2024 Rotten Kid Press -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Inky Stories: TEXT_PAGE_TITLE</title>
		<meta name="application-name" content="Inky Stories: TEXT_PAGE_TITLE">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="Copyright 1990-2024 Rotten Kid Press">
		<meta name="description" content="Comic book stories by David Marshall">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, rotten kid press, inky stories">
		<link href="../assets/themes/inky-stories/inky-stories.css" type="text/css" rel="stylesheet">	
		<link rel="icon" href="../assets/img/brand/inky-stories.ico" type="image/x-icon">

		<meta property="og:title"        content="Inky Stories: FOO_TITLE">
		<meta property="og:type"         content="article">
		<meta property="og:description"  content="FOO_DESCRIPTION">
		<meta property="og:url"          content="http://www.inkystories.com/FOO">
		<meta property="og:image"        content="http://www.inkystories.com/assets/img/open-graph/og-sam.png">
	</head>
	<body>
		<div class="inky-stories-3">
			<header class="fixed-top main-navigation" role="banner">
				<div class="container">
					<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
					<nav class="navbar navbar-expand-md">
						<a class="navbar-brand" href="#" rel="home">Inky Stories</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="main-navigation">
							<ul class="navbar-nav bd-navbar-nav ml-auto">
								<li class="web-comics">
									<a href="../comics/index.html" aria-label="comic books by David Marshall"><span class="nav-icon"></span><span class="nav-text">Comics</span></a>
								</li>
								<li class="about">
									<a href="../about/index.html" aria-label="about Inky Stories author David Marshall"><span class="nav-icon"></span><span class="nav-text">About</span></a>
								</li>
								<li class="store">
									<a href="../store/index.html" aria-label="Inky Stories store"><span class="nav-icon"></span><span class="nav-text">Store</span></a>
								</li>
								<li class="blogs active">
									<a href="../blog/index.html" aria-label="Inky Stories blog"><span class="nav-icon"></span><span class="nav-text">Blog</span></a>
								</li>
								<li class="contact">
									<a href="../contact/index.html" aria-label="contact Inky Stories"><span class="nav-icon"></span><span class="nav-text">Contact</span></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>		
			<main id="main-content" class="main-content bd-content text-page about" role="main">
				<section class="section intro comic-book-panel">
					<div class="container-fluid-no">
						<div class="row no-gutters">
							<div class="col-sm-3 col-md-3 d-none d-sm-block">
								<div class="speaker"></div>
							</div>
							<div class="col-sm-8 col-md-8">
								<div class="text">
									<div class="comic-book-font word-balloon left-pointer">
<h1>TEXT_PAGE_TITLE</h1> 
<p>TEXT_PAGE_INTRO</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section SECTION_TITLE">
					<div class="container">
<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

					</div>
				</section>
			</main>
			<footer>
				<div class="container">
					<div class="text">
						<p class="copyright">Copyright &copy; Rotten Kid Press 1990-<script>document.write(new Date().getFullYear())</script>. Please <a href="mailto:dave@inkystories.com">send email</a> to request any use this copyright-protected work.</p>
						<div class="social">
							<ul class="list-inline">
								<li class="facebook"><a href="http://www.facebook.com/pages/Inky-Stories/161622173872127" target="_blank" rel="noopener noreferrer" aria-label="inky stories on facebook"></a></li>
								<li class="twitter"><a href="http://twitter.com/InkyDavid" target="_blank" rel="noopener noreferrer" aria-label="inky stories on twitter"></a></li>
							</ul>
						</div>
					</div>
					<p class="back-to-top sr-only sr-only-focusable">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
			<script src="../assets/lib/jquery/jquery.min.js"></script>
			<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>		
			<script src="../assets/lib/bootstrap/js/bootstrap.js"></script>
		</div>
	</body>
</html>
