<!doctype html>
<html lang="en">
	<head>
		<!-- Copyright 1990-2020 Inky Stories by Rotten Kid Press -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Inky Stories: About that Artist</title>
		<meta name="application-name" content="Inky Stories: Welcome">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="Copyright 1990-2020 Inky Stories by Rotten Kid Press">
		<meta name="description" content="Comic book stories by David Marshall">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, rotten kid press, inky stories">
		<link href="../assets/themes/inky-stories/inky-stories.css" type="text/css" rel="stylesheet">	
		<script type="text/javascript" src="../assets/themes/inky-stories/inky-stories.js"></script>
		<link rel="icon" href="../assets/img/inky-stories.ico" type="image/x-icon">
	</head>
	<body>
		<div class="inky-stories-3">
			<header class="fixed-top main-navigation" role="banner">
				<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
				<nav class="navbar navbar-expand-md">
					<a class="navbar-brand" href="#" rel="home">Inky Stories</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse" id="main-navigation">
						<ul class="navbar-nav bd-navbar-nav mr-auto">
							<li class="nav-item web-comics">
								<a class="nav-link" href="#">Comics</a>
							</li>
							<li class="nav-item active about">
								<a class="nav-link" href="#">About</a>
							</li>
							<li class="nav-item store">
								<a class="nav-link" href="#">Store</a>
							</li>
							<li class="nav-item links">
								<a class="nav-link" href="#">Links</a>
							</li>
						</ul>
						<div class="search-form form-inline my-2 my-md-0">
							<form>
								<input class="form-control form-control-sm mr-3" type="text" placeholder="" aria-label="Search">
								<i class="fas fa-search active" aria-hidden="true"></i>
							</form>	
						</div>
					</div>
				</nav>			
			</header>		
			<main id="main-content" class="main-content bd-content about" role="main">
				<section class="section intro">
					<div class="container">
						<h1>About These Inky Stories</h1> 
						<p><strong>Inky Stories</strong> is a web and print anthology of my short, self-contained comic book stories. Genres include autobio, comedy, satire, horror, romance, sci-fi, historical drama, action, and crime fiction.</p>
					</div>
				</section>
				<section class="section details">
					<div class="container">
						<div class="row">
							<div class="col-12 col-md-4 sidebar-column" role="complementary">
								<div class="photo circle dsm-portrait-drawing"></div>
								<p>Churning out so much genius has been horrible for my posture. Hope you appreciate the sacrifice.</p>
							</div>
							<div class="col-12 col-md-8 main-column">
								<h2>Business Bio</h2>
								<p>David Marshall was published by Fantagraphics Books, <a href="#">SpiderBaby Graphix</a> and <a href="#">FantaCo Enterprises</a>. Most recently published by the <a href="# ">Boston Comics Roundtable</a> and <a href="#">Riverbird Studios</a>. He's also a multiple participant in <a href="#">24-Hour Comics Day</a>, <a href="#">Arisia</a>, <a href="#">Massachusetts Independent Comics Expo</a> and Boston ComicCon. <a href="http://www.artofthecomicbook.com/">Art of the Comic Book</a> is David’s college-level studio workshop for making comics with traditional ink-on-paper media.</p>
							
								<h3>Personal Bio</h3>
								<p>As a kid in Springfield Massachusetts, I collected and traded Marvel comics from the Silver Age. I got hooked by the powerful yet flawed heroes and dramatic situations. Eventually I followed certain creators. Stan Lee and Jack Kirby were my first, then Steve Ditko, Wally Wood, John Buscema, Marie Severin, Joe Sinnott, Frank Giacoia and Artie Simek.</p>
								<p>By high school, I was better at drawing and analyzing comic books than anything else. Studying comics history for my Senior Degree Project at Massachusetts College of Art exposed me to the work of George Herriman, Roy Crane, Alex Toth, Milton Caniff, Curt Swan and more! This foundation eventually led to my first published credits.</p>
								<p>There’s more to my story, but I’d rather take Steve Ditko’s lead and let <a href="#">my comics do the talking</a>. Thanks for sticking around this long; the best is yet to come.</p>
								<p class="signature">— Dave M!, giving you all I’ve got.</p>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer class="bd-footer text-muted">
				<div class="container py-3 py-md-4">
					<p class="copyright">Copyright &copy; 1986-<script>document.write(new Date().getFullYear())</script> David Marshall. All rights reserved. The material may not, under any circumstances, be resold or redistributed for compensation of any kind without prior written permission from David Marshall nor may the information be used in any commercial venue without such prior written permission. For more information, please <a href="mailto:dave@inkystories.com">contact us here</a>. </p>
					<div class="social">
						<ul class="list-inline">
							<li class="follow-me">Follow me on </li>
							<li class="email"><a href="mailto:david@inkystories.com" rel="external"><span>Email</span></a></li>
							<li class="facebook"><a href="http://www.facebook.com/pages/Inky-Stories/161622173872127" rel="external"><span>Facebook</span></a></li>
							<li class="twitter"><a href="http://twitter.com/InkyDavid" rel="external"><span>Twitter</span></a></li>
						</ul>
					</div>
					<p class="back-to-top">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
			<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
			<script>
				window.jQuery || document.write('<script src="../assets/js/vendor/jquery-slim.min.js"><\/script>')
			</script>
			<script src="../assets/themes/bootstrap-4/js/bootstrap.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.js"></script>
		</div>
	</body>
</html>
