<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright 1990-2025 Rotten Kid Press -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Inky Stories Content Style Guide: Components</title>
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="Copyright 1990-2025 Rotten Kid Press">
		<meta name="description" content="TEASER_DESCRIPTION">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, rotten kid press, inky stories">
		<link href="../assets/themes/inky-stories/inky-stories.css" type="text/css" rel="stylesheet">	
		<link href="../assets/img/brand/inky-stories.ico" type="image/x-icon" rel="icon">

		<meta property="og:title"        content="Inky Stories: About the Artist">
		<meta property="og:type"         content="article">
		<meta property="og:description" content="TEASER_DESCRIPTION">
		<meta property="og:url"          content="http://www.inkystories.com/about">
		<meta property="og:image"        content="http://www.inkystories.com/assets/img/open-graph/og-rotten-wallpaper.png">
	</head>
	<body>
		<div class="inky-stories-3">
			<header class="fixed-top main-navigation" role="banner">
				<div class="container">
					<a href="#main-content" class="skip-link visually-hidden visually-hidden-focusable">Skip Content</a>
					<nav class="navbar navbar-expand-md">
						<a class="navbar-brand" href="../index.html" rel="home">Inky Stories</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="main-navigation">
							<ul class="navbar-nav bd-navbar-nav ml-auto">
								<li class="web-comics">
									<a href="../comics/index.html" aria-label="comic books by David Marshall"><span class="nav-icon"></span><span class="nav-text">Comics</span></a>
								</li>
								<li class="about active">
									<a href="#" aria-label="about Inky Stories author David Marshall"><span class="nav-icon"></span><span class="nav-text">About</span></a>
								</li>
								<li class="store">
									<a href="../store/index.html" aria-label="Inky Stories store"><span class="nav-icon"></span><span class="nav-text">Store</span></a>
								</li>
								<li class="blogs" aria-label="Inky Stories blog">
									<a href="../blog/index.html" aria-label="Inky Stories blog"><span class="nav-icon"></span><span class="nav-text">Blog</span></a>
								</li>
								<li class="contact">
									<a href="../contact/index.html" aria-label="contact Inky Stories"><span class="nav-icon"></span><span class="nav-text">Contact</span></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>		
			<main id="main-content" class="main-content bd-content text-page" role="main">
				<section class="section details">
					<div class="container">
						<div class="text-page-header">
							<span class="category-header">Inky Stories design system</span>
							<h1>Components</h1> 
							<p>These <strong>compact highlight blocks</strong> are designed for linking to to more detailed content, like internal pages, external websites, or other resources. Every component is <strong>rigorously tested</strong> to meet the latest accessibility standards, presenting equally well on <strong>desktop, tablet, and mobile devices.</strong></p>
						</div>
						<div class="row gx-md-5">
							<div class="col-md-2 sidenav">
								<div class="sticky-top">
									<aside id="inky-sidebar">
										<div class="item links">
											<dl class="link-list left-nav">	
												<dt>Components</dt>
												<dd><a href="#lead-story">Lead story</a></dd>
												<dd><a href="#story-group">Story group</a></dd>
												<dd><a href="#tile-card">Tile Card</a></dd>
												<dd><a href="#feature-card">Feature Card</a></dd>
												<dd><a href="#multi-link-card">Multi Link Card</a></dd>
												<dd><a href="#image">Image component</a></dd>
												<dd><a href="#link-list">Link List</a></dd>
												<dd><a href="#text-styles">Text styles</a></dd>		
											</dl>
											
											<dl class="link-list left-nav">
												<dt>Inky Stories design system</dt>
												<dd class="active"><a href="components.html">Components</a></dd>
												<dd><a href="content.html">Content</a></dd>
											</dl>
										</div>
									</aside>
								</div>							
							</div>							
							<div class="col-md-10">
								<h2 id="lead-story">Lead story component</h2>
								<p>Row with an image and text columns. The text column has an headline, description, and CTA link. The default option has half-size columns.</p>
								<div class="lead-story">
									<div class="row">
										<div class="col-lg-6 image no-border">
											<img src="../assets/img/blog/template/placeholder.jpg" alt="">
										</div>
										<div class="col-lg-6 text">
											<div class="header">HEADLINE</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
											<p class="cta">
												<a href="#">CTA</a>
											</p>
										</div>
									</div>
								</div>

								<h3>Variations</h3>
								<h4>2/3 lead story</h4>
								<div class="lead-story">
									<div class="row">
										<div class="col-lg-4 image no-border">
											<img src="../assets/img/blog/template/placeholder.jpg" alt="">
										</div>
										<div class="col-lg-8 text">
											<div class="header">HEADLINE</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
											<p class="cta">
												<a href="#">CTA</a>
											</p>
										</div>
									</div>
								</div>
								
								<h4>3/4 lead story</h4>
								<div class="lead-story">
									<div class="row">
										<div class="col-lg-3 image no-border">
											<img src="../assets/img/blog/template/placeholder.jpg" alt="">
										</div>
										<div class="col-lg-9 text">
											<div class="header">HEADLINE</div>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
											<p class="cta">
												<a href="#">CTA</a>
											</p>
										</div>
									</div>
								</div>
								
								<h4>Header tag with subhead</h4>
								<p>Using H1 and H2 tags instead of header-agnostic DIV element</p>
								<div class="lead-story">
									<div class="row">
										<div class="col-lg-6 image no-border">
											<img src="../assets/img/blog/template/placeholder.jpg" alt="">
										</div>
										<div class="col-lg-6 text">
											<h1>H1 HEADLINE</h1>
											<h2>H2 SUBHEADER</h2>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
											<p class="cta">
												<a href="#">CTA</a>
											</p>
										</div>
									</div>
								</div>
								
								<h4>Full lead story for blog pages</h4>
								<p>Styled to include author and timestamp</p>
								<div class="blog">
									<article  class="">
										<header class="lead-story">
											<div class="row">
												<div class="col-lg-6 image">
													<img src="../assets/img/blog/template/placeholder.jpg" alt="">
												</div>
												<div class="col-lg-6 text">
													<h1>H1 HEADLINE</h1>
													<h2>H2 SUBHEADER</h2>
													<div class="entry-meta">
														<span class="byline"> 
															<span class="author">David Marshall</span>
														</span>		
														<span class="posted-on">
															<time class="entry-date published">DATE</time>
															<time class="updated">DATE</time>
														</span>
													</div>
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
												</div>
											</div>
										</header>
									</article>
								</div>
								
								<hr>
								<h2 id="story-group">Story group component</h2>
								<p>Story groups have one lead story and up to four secondary stories. The default story group is essentially a lead story component with secondary stories as tile cards underneath.</p>
								
								<div class="story-group-tiles">
									<div class="lead-story">
										<div class="row">
											<div class="col-lg-6 image no-border">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="col-lg-6 text">
												<div class="header">HEADLINE</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
												<p class="cta">
													<a href="#">CTA</a>
												</p>
											</div>
										</div>
									</div>
									<div class="row tile-cards">
										<div class="col-md-4">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="col-md-4">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="col-md-4">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
									</div>
								</div>
								
								<h3>Variations</h3>
								<h4>Bottom tiles merged</h4>
								<div class="story-group-tiles merged">
									<div class="lead-story">
										<div class="row">
											<div class="col-lg-6 image no-border">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="col-lg-6 text">
												<div class="header">Headline</div>
												<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
												<p class="cta">
													<a href="#">CTA</a>
												</p>
											</div>
										</div>
									</div>
									<div class="row tile-cards">
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADER Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADER Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADER Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
									</div>
								</div>
								
								<h4>Story group blade</h4>		
								<div class="row story-group-blade">
									<h2 class="has-right-link">
										Blade title
										<a href="comics/index.html" aria-label="FOO">Optional CTA</a>
									</h2>									
									<div class="col-lg-6 story-group-lead">
										<div class="feature-story-card">
											<div class="row">
												<div class="col-lg-6 image">
													<img src="../assets/img/blog/template/placeholder.jpg" alt="">
												</div>
												<div class="col-lg-6 text">
													<div class="header">Headline</div>
													<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.</p>
													<p class="cta">
														<a href="#" rel="noopener noreferrer" target="_blank" class="external-site" aria-label="">CTA</a>
													</p>
												</div>
											</div>
										</div>
									</div>
									<div class="col-lg-6 story-group-row tile-cards no-image">
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem vel</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
										<div class="item">
											<a class="tile-card" href="#">
												<span class="header">HEADLINE Duis autem dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</a>
										</div>
									</div>	
								</div>								
								
								<h2 id="tile-card">Tile Card component</h2>
								<p>Clickable cards with headline, description, call-to-action link, and optional icon. The default option has no image and CTA link in the headline. </p>
								<div class="row tile-cards">
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
								</div>

								<h3>Variations</h3>
								<h4>Centered</h4>
								<div class="row tile-cards icon-tiles">
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
											<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
										</a>
									</div>
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="text">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</span>
										</a>
									</div>
									<div class="col-md-4">
										<a class="tile-card" href="#">
											<span class="icon">
												<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
											</span>
											<span class="text">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</span>
										</a>
									</div>
								</div>
								
								<h4>Horizontal button</h4>
								<div class="tile-cards button-tiles">
									<div class="row">
										<div class="col-md-6">
											<a class="tile-card" href="#">
												<span class="icon">
													<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
												</span>
												<span class="text">
													<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
													<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
												</span>
											</a>
										</div>
										<div class="col-md-6">
											<a class="tile-card" href="#">
												<span class="icon">
													<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
												</span>
												<span class="text">
													<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
													<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
												</span>
											</a>
										</div>
									</div>
								</div>
								
								<hr>
								<h2 id="feature-card">Feature Card component</h2>
								<p>Clickable vertical stack of an image, headline, description, and CTA link. The default version has the link in the headline.</p>
								<div class="row feature-cards">
									<div class="col-md-4">
										<a class="feature-card" href="#">
											<span class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</span>
											<span class="text">
												<span class="header">HEADLINE Duis autem vel eum iriure dolore</span>
												<span class="description">Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</span>
											</span>
										</a>
									</div>								
									<div class="col-md-4">
										<a class="feature-card" href="#">
											<span class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</span>
											<span class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</span>
										</a>
									</div>								
									<div class="col-md-4">
										<a class="feature-card" href="#">
											<span class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</span>
											<span class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</span>
										</a>
									</div>								
								</div>
														
								<h3>Variations</h3>
								<h4>Links in CTA</h4>
								<div class="row feature-cards">
									<div class="col-md-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-md-4">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
								</div>
								
								<h4>With background</h4>
								<div class="row feature-cards with-background">
									<div class="col-md-3">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header"><a href="#">HEADLINE with CTA</a></span>
												<span class="description">Description</span>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header"><a href="#">HEADLINE with CTA</a></span>
												<span class="description">Description</span>
											</div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
									<div class="col-md-3">
										<div class="feature-card">
											<div class="image">
												<img src="../assets/img/blog/template/placeholder.jpg" alt="">
											</div>
											<div class="text">
												<span class="header">HEADLINE</span>
												<span class="description">Description</span>
											</div>
											<div class="button-row"><a href="#" class="cta">CTA</a></div>
										</div>
									</div>
								</div>								
								<hr>
								
								<h2 id="multi-link-card">Multi Link Card component</h2>
								<p>Horizontal row of icon, headline, description, and multiple links within the topic.</p>
								<div class="multi-link">
									<div class="icon">
										<img src="../assets/img/icons/rotten-kid-logo.svg" alt="">
									</div>
									<div class="text">
										<h2>TITLE</h2>
										<p>Lorem ipsum dolor sit amet consectetuer adipiscing elit sed diam nonummy.</p>
										<ul>
											<li><a href="#">LINK</a></li>
											<li><a href="#">LINK</a></li>
											<li><a href="#">LINK</a></li>
										</ul>
									</div>
								</div>
								
								<hr>
								<h2 id="image">Image component</h2>
								<p>Presents image with optional captions and borders.</p>
								<div class="row tile-cards">
									<div class="col-md-4">
										<figure class="">
											<img src="/assets/img/blog/template/placeholder.jpg" alt="">
											<figcaption class="figure-caption">Caption has bottom border, image has no border</figcaption>
										</figure>
									</div>
									<div class="col-md-4">
										<figure class="no-border">
											<img src="/assets/img/blog/template/placeholder.jpg" alt="">
											<figcaption class="figure-caption">Caption with no bottom border <a href="#">has hyperlink</a>, image has no border</figcaption>
										</figure>
									</div>
									<div class="col-md-4">
										<figure class="no-border image-has-border">
											<img src="/assets/img/blog/template/placeholder.jpg" alt="">
											<figcaption class="figure-caption">Caption has no bottom border, image has border</figcaption>
										</figure>
									</div>
								</div>
								
								<hr>
								<h2 id="link-list">Link List component</h2>
								<p>Hyperlinks styled to work in single or multiple columns with optional description and group CTA link.</p>
								<div class="row">
									<div class="col-md-4">
										<dl class="link-list">
											<dt>Default link list</dt>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
										</dl>
									</div>
									<div class="col-md-4">
										<dl class="link-list">
											<dt>Link list with CTA link</dt>
											<dd><a href="#">Duis autem vel eum iriure dolor in hendrerit</a></dd>
											<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
											<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
											<dd class="cta"><a href="#">Optional CTA</a></dd>
										</dl>
									</div>
									<div class="col-md-4">
										<dl class="link-list">
											<dt>
												Link list with desciption 
												<span>Optional description</span>
											</dt>
											<dd><a href="#">Get iusto odio dignissim qui blandit praesent luptatum zzril</a></dd>
											<dd><a href="#">Delenit augue duis dolore te feugait nulla facilisi</a></dd>
											<dd><a href="#">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></dd>
										</dl>
									</div>								
								</div>	

								<h3>Multicolumn Link Lists</h3>
								<div class="link-list two-column">
									<div class="header">
										<div class="list-name">Two-column link list</div>
										<div class="list-description">Optional description</div>
									</div>
									<ul>
										<li><a href="#">First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Fifth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Seventh item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eighth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Tenth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eleventh item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
									</ul>
								</div>
								
								<div class="link-list three-column">
									<div class="header">
										<div class="list-name">Three-column link list</div>
									</div>
									<ul>
										<li><a href="#">First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Fifth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Seventh item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eighth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Tenth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eleventh item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
									</ul>
								</div>
								
								<div class="link-list four-column">
									<div class="header">
										<div class="list-name">Four-column link list</div>
									</div>
									<ul>
										<li><a href="#">First item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Second item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Third item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Fourth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Fifth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Sixth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Seventh item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eighth item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Ninth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
										<li><a href="#">Tenth item: Duis autem vel eum iriure dolor in hendrerit</a></li>
										<li><a href="#">Eleventh item: Sin vulputate velit esse molestie</a></li>
										<li><a href="#">Twelfth item: Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></li>
									</ul>
								</div>

								<hr>
								<h2 id="text-styles">Paragraph text styles</h2>
								<p>Lorem ipsum dolor sit amet, <a href="#">in-site hyperlink</a> and <a href="#" target="_blank" rel="noopener noreferrer" class="external-site external-site">external hyperlink</a>, sed diam nonummy <strong>strong text</strong> ut laoreet dolore magna <em>italic text.</em> Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
								<p class="signature">Dave M!, giving you all I’ve got.</p>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<div class="container">
					<div class="text">
						<p class="copyright">Copyright &copy; Rotten Kid Press 1990-<script>document.write(new Date().getFullYear())</script>. Please <a href="mailto:david@inkystories.com">send email</a> to request any use this copyright-protected work.</p>
						<div class="social">
							<ul class="list-inline">
								<li class="facebook"><a href="http://www.facebook.com/pages/Inky-Stories/161622173872127" target="_blank" rel="noopener noreferrer" class="external-site" aria-label="inky stories on facebook"></a></li>
								<li class="bluesky"><a href="https://bsky.app/profile/illdave.bsky.social" target="_blank" rel="noopener noreferrer" class="external-site" aria-label="inky stories on blue sky"></a></li>
							</ul>
						</div>
					</div>
					<p class="back-to-top visually-hidden visually-hidden-focusable">
						<a href="#main-content">Back to top</a>
					</p>
				</div>
			</footer>
			<script src="../assets/lib/jquery/jquery.min.js"></script>
			<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>		
			<script src="../assets/lib/bootstrap/js/bootstrap.js"></script>
		</div>
	</body>
</html>
