<!doctype html>
<html lang="en-US">
	<head>
		<!-- Copyright Rotten Kid Press 1990-2022 -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Inky Stories: Template for Two-Column Text Pages</title>
		<meta name="application-name" content="Inky Stories: Welcome">
		<meta name="author" content="David Marshall">
		<meta name="copyright" content="Copyright Rotten Kid Press 1990-2022">
		<meta name="description" content="Comic book stories by David Marshall">
		<meta name="keywords" content="comic books, comic book art, david marshall, marshall art studio, rotten kid press, inky stories">
		<link href="../assets/themes/inky-stories/inky-stories.css" type="text/css" rel="stylesheet">	
		<link href="../assets/img/brand/inky-stories.ico" type="image/x-icon" rel="icon">

		<meta property="og:title"        content="Inky Stories: About the Artist">
		<meta property="og:type"         content="article">
		<meta property="og:description"  content="Inky Stories is a web and print anthology of my short, self-contained comic book stories.">
		<meta property="og:url"          content="http://www.inkystories.com/about">
		<meta property="og:image"        content="http://www.inkystories.com/assets/img/open-graph/og-rotten-wallpaper.png">
	</head>
	<body>
		<div class="inky-stories-3">
			<header class="fixed-top main-navigation" role="banner">
				<div class="container">
					<a href="#main-content" class="skip-link sr-only sr-only-focusable">Skip Content</a>
					<nav class="navbar navbar-expand-md">
						<a class="navbar-brand" href="../index.html" rel="home">Inky Stories</a>
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navigation" aria-controls="main-navigation" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="main-navigation">
							<ul class="navbar-nav bd-navbar-nav ml-auto">
								<li class="web-comics">
									<a href="../comics/index.html" aria-label="comic books by David Marshall"><span class="nav-icon"></span><span class="nav-text">Comics</span></a>
								</li>
								<li class="about active">
									<a href="#" aria-label="about Inky Stories author David Marshall"><span class="nav-icon"></span><span class="nav-text">About</span></a>
								</li>
								<li class="store">
									<a href="../store/index.html" aria-label="Inky Stories store"><span class="nav-icon"></span><span class="nav-text">Store</span></a>
								</li>
								<li class="blogs" aria-label="Inky Stories blog">
									<a href="../blog/index.html" aria-label="Inky Stories blog"><span class="nav-icon"></span><span class="nav-text">Blog</span></a>
								</li>
								<li class="contact">
									<a href="../contact/index.html" aria-label="contact Inky Stories"><span class="nav-icon"></span><span class="nav-text">Contact</span></a>
								</li>
							</ul>
						</div>
					</nav>
				</div>
			</header>		
			<main id="main-content" class="main-content bd-content about text-page" role="main">
				<section class="section details">
					<div class="container">
					
						<div class="text-page-header">
							<h1>Template for Two-Column Text Pages</h1>
							<p><strong>Inky Stories</strong> is a web and print anthology of my short, self-contained comic book stories. Genres include <em>autobio, comedy, satire, horror, romance, sci-fi, historical drama, action,</em> and <em>crime fiction.</em> Unless otherwise noted, all material is written and drawn (lettered, colored, edited, designed, packaged, etc.) by <strong>Yours Truly.</strong> Most comics have detailed page and story descriptions below the art.</p>
						</div>
						<div class="row gx-md-5">
							<div class="col-md-9">
	<p>Still trying to figure out a platform. <a href="#">Knisl ut aliquip ex</a> ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. <em>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</em></p>

	<h4>Data Tables</h4>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortist.</p>
	<table class="table" id="people-cities">
		<caption>People &amp; Their Cities</caption>
		<thead>
			<tr>
				<th scope="col" role="columnheader">&nbsp;</th>
				<th scope="col" role="columnheader">City of Birth</th>
				<th scope="col" role="columnheader">Current City</th>
				<th scope="col" role="columnheader">Favorite City</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row" role="rowheader">Dave M!</th>
				<td>Springfield MA: A small town that thinks it's a city, run by a unique combination of corruption and ineptitude</td>
				<td>
					<dl>
						<dt>Allston MA</dt>
						<dd>aka Rock City or Student Ghetto</dd>
						<dd>Great parties</dd>
					</dl>
					<dl>
						<dt>Central Office Field Audit</dt>
						<dd>200 Folly Brook Boulevard</dd>
						<dd>Wethersfield 06109</dd>
					</dl>
					<dl>
						<dt>Hartford Field Audit</dt>
						<dd>200 Folly Brook Boulevard</dd>
						<dd>Wethersfield 06109</dd>
					</dl>
					<dl>
						<dt>Middletown Field Audit</dt>
						<dd>645 South Main Street</dd>
						<dd>Middletown, CT 06457</dd>
					</dl>
				</td>
				<td>
					<h4>Somerville MA</h4>
					<ul>
						<li>Land of a thousand broken dreams</li>
						<li>(203) 859-3313 TTY/TDD</li>
						<li>(203) 859-3120 fax</li>
						<li>(203) 859-3417 Business Services Consultants </li>
					</ul>
				</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Ernesto Trivoli</th>
				<td>Naples</td>
				<td>Rome</td>
				<td>Naples</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Margarita de Rosas</th>
				<td>Mexico City</td>
				<td>Los Angeles</td>
				<td>New York</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Kristin Mumfordson</th>
				<td>Berlin</td>
				<td>Stockholm</td>
				<td>Cambridge</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Samson Abrahamson</th>
				<td>Tripoli</td>
				<td>London</td>
				<td>Jerusalem</td>
			</tr>
			<tr>
				<th scope="row" role="rowheader">Sahara Blackstone-Carver</th>
				<td>Atlanta</td>
				<td>Boise</td>
				<td>Nairobi</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<p>
						Reference for responsive data tables: 
						<a href="https://css-tricks.com/responsive-data-tables" rel="noopener noreferrer" target="_blank">CSS Tricks</a>, 
						<a href="https://www.stonybrook.edu/commcms/ousupport/_demo/responsive-table-headers.php" rel="noopener noreferrer" target="_blank">Stony Brook University</a><
					</p>
					<p>
						Reference for accessible data tables: 
						<a href="https://www.w3.org/WAI/tutorials/tables" rel="noopener noreferrer" target="_blank">W3C data table tutorial</a>, 
						<a href="https://www.w3.org/WAI/tutorials/tables/two-headers" rel="noopener noreferrer" target="_blank">W3C tutorial for two-header data tables</a>, 
						<a href="https://webaim.org/techniques/tables/data" rel="noopener noreferrer" target="_blank">WebAIM data table tutorial</a>
					</p>
				</td>
			</tr>
		</tfoot>
	</table>

	<h2>H2 Header that goes on tincidunt ut laoreet dolore magna aliquam erat volutpat ex ea commodo consequat</h2>
	<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
	
	<h3>H3 Header that goes on tincidunt ut laoreet dolore magna aliquam erat volutpat ex ea commodo consequat</h3>
	<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

	<h4>H4 Header that goes on tincidunt ut laoreet dolore magna aliquam erat volutpat ex ea commodo consequat</h4>
	<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

	<h5>H5 Header that goes on tincidunt ut laoreet dolore magna aliquam erat volutpat ex ea commodo consequat</h5>
	<p>Red diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>


	<h2>Image Wrappers</h2>
	<p><strong>Red diam nonummy nibh euismod</strong> tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>

	<h3>Image Centered</h3>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

	<figure class="centered">
		<img src="../assets/img/pictures/24-hour-2008-andy-wong-1.jpg" alt="photo of Andy Wong working hard" />
		<figcaption class="figure-caption">Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse.</figcaption>
	</figure>
	<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>


	<h3>Image Float Left</h3>
	<figure class="float-start me-4 col-12 col-md-4">
		<img src="../assets/img/pictures/batgirl-yvonne-craig-3.png" alt="batgirl captured by egghead">
		<figcaption class="figure-caption">Daredoll Damsel in Distress moment from  <a href="https://www.tor.com/2017/02/10/holy-rewatch-batman-the-ogg-couple" rel="noopener noreferrer" target="_blank">"The Ogg Couple"</a>, a Batman '66 episode written by Stanford Sherman, directed by Oscar Rudolph, starring Yvonne Craig as Batgirl and Vincent Price as Egghead.</figcaption>
	</figure>
	<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

	<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>

	<h3>Image Float Right</h3>
	<figure class="float-end ms-4 col-12 col-md-6">
		<img src="../assets/img/pictures/24-hour-2008-jesse-farrell.jpg" alt="photo of jesse ferrell holding videos">
		<figcaption class="figure-caption">I brought 70's sci fi classics Rollerball and Logan's Run, which Jesse approved.</figcaption>
	</figure>

	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>
	
	
	<dl class="pullquote float-start me-4 col-12 col-md-4">
		<dt>Ut wisi enim ad minim veniam, quis nostrud exerci station ullam corper suscipit lobortis</dt>
		<dd>Bob Kane quis nostrud exercitation ullamcorper</dd>
	</dl>
		
	<p>Lorem ipsum dolor sit amet, <a href="#">consectetuer adipiscing elit</a>, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

	<h4>Lightbox by Lokesh Dhakar</h4>
	<p>Works with <a href="../assets/img/comics/stop-that-panzer-woman/06-07-spread.jpg" data-lightbox="double-page-spread-again">text links</a> and pictures, grouping controlled by using the same "data-lightbox" value. Optional captions come from "data-title" values. ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>

	<div class="row in-content">
		<div class="col col-md-3">
			<a href="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" data-lightbox="the-prisoner" data-title="Optional caption renders under photo">
				<img src="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" alt="photo of us 24-hour artists at 3:30am" />
			</a>
		</div>
		<div class="col col-md-3">
			<a href="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" data-lightbox="the-prisoner" data-title="Caption thing about this image">
				<img src="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" alt="photo of us 24-hour artists at 3:30am" />
			</a>
		</div>
		<div class="col col-md-3">
			<a href="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" data-lightbox="the-prisoner" data-title="Image caption that edifies reality">
				<img src="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" alt="photo of us 24-hour artists at 3:30am" />
			</a>
		</div>
		<div class="col col-md-3">
			<a href="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" data-lightbox="the-prisoner" data-title="I am a caption, not a number!">
				<img src="../assets/img/pictures/24-hour-2008-group-photo-3.jpg" alt="photo of us 24-hour artists at 3:30am" />
			</a>
		</div>
	</div>

	<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, and vel illum.</p>

	<div class="row">
		<div class="col-12 col-md-6">
		<ul>
			<li>Quis nostrud exerci tation ullamcorper</li>
			<li>Nminim veniam, quis nostrud exerci tation</li>
			<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
			<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
		</ul>
		</div>
		<div class="col-12 col-md-6">
			<ol>
				<li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</li>
				<li>Nminim veniam, quis nostrud exerci tation</li>
				<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
				<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
			</ol>
		</div>
	</div>

	<h4>H4 Had Minim Veniam</h4>

	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure.</p>
	<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
	<ol>
		<li>Quis nostrud exerci tation ullamcorper</li>
		<li>Nminim veniam, quis nostrud exerci tation</li>
		<li>Accumsan et iusto odio dignissim qui blandit praesent luptatum</li>
		<li>Vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat</li>
	</ol>

	<h4>H4 Dignissim Veniam</h4>
	<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

	<div class="row">
		<div class="col-12 col-md-6">
			<dl>
				<dt>Definition List One</dt>
				<dd>Duis autem vel eum iriure dolor in hendrerit. Sin vulputate velit esse molestie consequat.</dd>
				<dd>Sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.</dd>
			</dl>
		</div>
		<div class="col-12 col-md-6">
			<dl>
				<dt>Definition List Two</dt>
				<dd>Color in hendrerit in vulputate velit esse molestie consequat. Evel illum dolore eu feugiat nulla facilisis at vero eros.</dd>
				<dd>Facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent.</dd>
			</dl>
		</div>
	</div>
	<p>Color in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

							</div>
							<div class="col-md-3 sidebar">
								<div class="sticky-top">
									<aside id="inky-sidebar">
										<div class="item">	
											<dl class="link-list">
												<dt>Link List Category</dt>
												<dd><a href="#" target="_blank" rel="noopener noreferrer">Duis autem vel eum iriure dolor in hendrerit</a></dd>
												<dd><a href="#">Sin vulputate velit esse molestie</a></dd>
												<dd><a href="#">Vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan</a></dd>
												<dd class="cta"><a href="#">view all of this long-named category</a></dd>
											</dl>

											<dl class="link-list">
												<dt>Another Link List Category</dt>
												<dd><a href="#">Get iusto odio dignissim zzril</a></dd>
												<dd><a href="#">Delenit augue duis dolore te feugait nulla facilisi</a></dd>
												<dd><a href="#">Lorem ipsum dolor sit amet</a></dd>
											</dl>
										</div>
									</aside>
								</div>
							</div>
						</div>
					</div>
				</section>
			</main>
			<footer>
				<div class="container">
					<div class="text">
						<p class="copyright">Copyright &copy; Rotten Kid Press 1990-<script>document.write(new Date().getFullYear())</script>. Please <a href="mailto:dave@inkystories.com">send email</a> to request any use this copyright-protected work.</p>
						<div class="social">
							<ul class="list-inline">
								<li class="facebook"><a href="http://www.facebook.com/pages/Inky-Stories/161622173872127" target="_blank" rel="noopener noreferrer" aria-label="inky stories on facebook"></a></li>
								<li class="twitter"><a href="http://twitter.com/InkyDavid" target="_blank" rel="noopener noreferrer" aria-label="inky stories on twitter"></a></li>
							</ul>
						</div>
					</div>
					<p class="back-to-top sr-only sr-only-focusable">
						<a href="#main-content">Back to top<i class="fas"></i></a>
					</p>
				</div>
			</footer>
			<script src="../assets/lib/jquery/jquery.min.js"></script>
			<script src="../assets/lib/lightbox-2.11.1/js/lightbox.js"></script>		
			<script src="../assets/lib/bootstrap/js/bootstrap.js"></script>
		</div>
	</body>
</html>
